.set-size {
}

input, select {
	outline: 0;
}

#faq h3 {
	font-family:Open Sans;
	font-size:25px;
	line-height:25px;
	color:#4c4c4c;
	font-weight:normal;
	padding-left:5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#faq h4 {
	font-size:20px;
	color:#298ee3;
	font-family:Open Sans;
	line-height:20px;
	font-weight:normal;
	border-bottom:1px solid #e9e9e9;
	padding:14px 0px 8px 0px;
	margin:0px;
}

#faq h5 {
	font-size:16px;
	color:#808080;
	font-family:Open Sans;
	line-height:16px;
	font-weight:normal;
	border-bottom:1px solid #e9e9e9;
	padding:14px 0px 8px 0px;
	margin:0px;
}

/* Content */

#content {
	background: #fff url(../image/module_template/bg-content.png);
	min-height: 500px;
}

#faq .content {
	background:#fff;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 6px 2px #e9e9e9;
	box-shadow: 0px 0px 6px 2px #e9e9e9;
	-moz-box-shadow: 0px 0px 6px 2px #e9e9e9;
	padding:5px;
	margin-bottom:50px;
}

	#faq .content > div {
		border: 1px solid #c8c8c8;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
	}

		#faq .content > div .tabs {
			min-height: 400px;
		}

			#faq .content > div .tabs .main-tabs {
				position: absolute;
				width: 190px;
				padding: 0px;
				border: none;
				margin: 0px;
			}

				#faq .content > div .tabs .main-tabs a {
					display:block;
					float:none;
					clear:both;
					border:none;
					background:none;
					margin:0px;
					padding:0px;
					border-bottom:1px solid #e0e0e0;
					text-align:left;
					padding:15px 21px 0px 20px;
					font-family:Open Sans;
					color:#4c4c4c;
					font-size:14px;
					height:50px;
					font-weight: 400;
					text-align: right;
					text-decoration: none;
				}

					#faq .content > div .tabs .main-tabs a.selected {
						background:#fff;
						border-right: 1px solid #cccccc;
						padding:15px 20px 0px 20px;
						height:50px;
					}

						#faq .content > div .tabs .main-tabs img {
							vertical-align: top;
						}

						#faq .content > div .tabs .main-tabs span {
							display:block;
							float:none;
							clear:both;
							border:none;
							background:none;
							margin:0px;
							padding:0px;
							border-bottom:1px solid #e0e0e0;
							text-align:left;
							padding:15px 20px 0px 20px;
							font-family:Open Sans;
							color:#4c4c4c;
							font-size:14px;
							height:50px;
							font-weight: 400;
							text-align: right;
						}

							#faq .content > div .tabs .main-tabs span img {
								cursor: pointer;
							}

			#faq .content > div .tabs .tab-content {
				padding: 0px 0px 10px 0px;
				margin: 0px;
			}

		/* Tabs module */

		.tabs-product {
			padding:0px;
			margin:0px;
			float:none;
			clear:both;
			border:none;
			background:url(../image/module_template/bg-tabs-design.png) top left repeat-x;
			height:50px;
		}

			.tabs-product a {
				padding:0px;
				margin:0px;
				float:left;
				display:block;
				height:50px;
				border:none;
				border-right:1px solid #cccccc;
				font-family:Open Sans;
				color:#4c4c4c;
				font-size:14px;
				background:none;
				text-decoration: none;
			}

				.tabs-product a.selected {
					background:#fff;
					padding:0px;
					height:50px;
				}

				.tabs-product a span {
					display:block;
					padding:15px 21px 0px 42px;
					height:50px;
					font-weight: 400;
				}

				.tabs-product a.tsetting span {
					background:url(../image/module_template/general.png) 17px 15px no-repeat;
				}

				.tabs-product a.ttab span {
					background:url(../image/module_template/footer.png) 17px 16px no-repeat;
				}

	#faq .content > div .buttons {
		background:#e6e6e6;
		border-top:1px solid #c8c8c8;
		text-align:right;
		height:78px;
		padding:0px 18px;
	}

		#faq .content > div .buttons .button-save {
			display:block;
			border: none;
			cursor: pointer;
			float:right;
			text-indent:100000px;
			overflow:hidden;
			width:115px;
			height:41px;
			cursor:pointer;
			background:url(../image/module_template/button-save.png) top left no-repeat;
			margin-top:19px;
			margin-left: 20px;
		}

/* Inputs */

#faq table.form {
	margin: 0px;
}

	#faq table.form > tbody > tr > td {
		padding: 20px 20px 20px 0px;
		font-family: Open Sans;
		color: #4c4c4c;
		font-size: 14px;
		margin: 0px;
		line-height: 14px;
		border-bottom: 1px solid #e0e0e0;
	}

		#faq table.form > tbody > tr > td select,
		#faq table.form > tbody > tr > td input {
			display:inline-block;
			margin:0px;
			border:1px solid #cccccc;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			-moz-border-radius: 4px;
			color:#4c4c4c;
			background:#fff url(../image/module_template/bg-input.png) top left repeat-x;
			padding:6px 8px;
			font-size: 12px;
			height: 32px;
			box-shadow:         none;
			-moz-box-shadow:    none;
			-webkit-box-shadow: none;
			border-radius:         2px;
			-moz-border-radius:    2px;
			-webkit-border-radius: 2px;
			-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
			-moz-transition:    border linear 0.2s, box-shadow linear 0.2s;
			-o-transition:      border linear 0.2s, box-shadow linear 0.2s;
			transition:         border linear 0.2s, box-shadow linear 0.2s;
		}

			#faq table.form > tbody > tr > td input:focus {
				  border-color: rgba(82, 168, 236, 0.8);
				  outline: 0;
				  outline: thin dotted \9;
				  /* IE6-9 */

				  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
				     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
				          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
			}

			#faq table.form > tbody > tr > td input {
				width: 50px;
			}

/* Module tab */

.tabs-list {
	width: 100%;
	margin: 10px 0px 30px 0px;
	border-top: 1px solid #e9e9e9;
	padding: 0px;
	border-spacing: 0px;
}

	.tabs-list thead tr td {
		background: #f2f2f2;
		border-bottom: 1px solid #e0e0e0;
		border-left: 1px solid #e0e0e0;
		padding: 16px 20px;
		font-weight: 600;
		color: #4C4C53;
		font-family: Open Sans;
	}

		.tabs-list td.first {
			border-left: none;
		}

	.tabs-list tbody tr td {
		border-bottom: 1px solid #e0e0e0;
		border-left: 1px solid #e0e0e0;
		padding: 5px 10px;
	}

		.tabs-list tbody tr td input[type="text"],
		.tabs-list tbody tr td select {
			display:block;
			margin:0px;
			border:1px solid #cccccc;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			-moz-border-radius: 4px;
			color:#4c4c4c;
			background:#fff url(../image/module_template/bg-input.png) top left repeat-x;
			padding:6px 8px;
			min-width: 170px;
			box-shadow:         none;
			-moz-box-shadow:    none;
			-webkit-box-shadow: none;
			border-radius:         2px;
			-moz-border-radius:    2px;
			-webkit-border-radius: 2px;
			-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
			-moz-transition:    border linear 0.2s, box-shadow linear 0.2s;
			-o-transition:      border linear 0.2s, box-shadow linear 0.2s;
			transition:         border linear 0.2s, box-shadow linear 0.2s;
		}

			.tabs-list tbody tr td input:focus {
				  border-color: rgba(82, 168, 236, 0.8);
				  outline: 0;
				  outline: thin dotted \9;
				  /* IE6-9 */

				  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
				     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
				          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
			}

			.tabs-list tbody tr td.first input {
				width: 350px;
			}

            .tabs-list tbody tr td input.sort{
                width: 50px;
                min-width: 0;
                text-align: center;
                display: inline-block;
            }

			.tabs-list .language {
				padding: 5px 0px;
                position: relative;
			}

				.tabs-list .language img {
					position: absolute;
					margin: 10px 0px 0px 326px;
				}
				.tabs-list .language img.lang-img {
					margin: 0;
                    right: 5px;;
                    bottom: 10px;
                    z-index: 999999;
				}

			.tabs-list a {
				cursor: pointer;
			}

	.add-module {
		display: block;
		width: 70px;
		height: 29px;
		background: #fff url(../image/module_template/add-item.png) top left no-repeat;
		text-indent: -10000px;
		margin: 0px 0px 10px 0px;
		cursor: pointer;
	}

/* Products autocomplete */

.products-autocomplete {

}

	.products-autocomplete p {
		float: left;
		width: auto;
		padding: 20px 20px 20px 0px;
		margin: 0px;
	}

	.products-autocomplete > div {
		float: left;
		width: auto;
		margin: 20px 0px 20px 0px;
	}

/* Clearfix */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

/* Table Form */

table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

table.form > tbody > tr > td:first-child {
	width: 200px;
}

table.form > tbody > tr > td {
	padding: 10px;
	color: #000000;
	border-bottom: 1px dotted #CCCCCC;
}

/* Scrollbox */

.scrollbox {
	border: 1px solid #CCCCCC;
	width: 350px;
	height: 100px;
	background: #FFFFFF;
	overflow-y: scroll;
}

.scrollbox img {
	float: right;
	cursor: pointer;
}

.scrollbox div {
	padding: 3px;
}

.scrollbox div input {
	margin: 0px;
	padding: 0px;
	margin-right: 3px;
}

.scrollbox div.even {
	background: #FFFFFF;
}

.scrollbox div.odd {
	background: #E4EEF7;
}

.textarea__add-item {
	max-width: 585px;
}
