<?php echo $header; ?>
<div class="container">
    <?php $this->partial('breadcrumbs', array('breadcrumbs' => $breadcrumbs)); ?>
  <h1 class="title-primary" itemprop="name"><?php echo $heading_title; ?></h1>
  <div class="row"><?php echo $column_left; ?>
      <?php if ($column_left && $column_right) { ?>
          <?php $class = 'col-sm-6'; ?>
      <?php } elseif ($column_left || $column_right) { ?>
          <?php $class = 'col-sm-9'; ?>
      <?php } else { ?>
          <?php $class = 'col-sm-12'; ?>
      <?php } ?>
    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
      <div class="row" itemscope itemtype="http://schema.org/Product">
          <?php if ($column_left || $column_right) { ?>
              <?php $class = 'col-sm-4'; ?>
          <?php } else { ?>
              <?php $class = 'col-sm-5'; ?>
          <?php } ?>
        <div class="<?php echo $class; ?>">
            <?php if ($thumb || $images) { ?>
              <ul class="thumbnails">
                  <?php if ($thumb) { ?>
                    <li><a class="thumbnail" href="<?php echo $popup; ?>" title="<?php echo $heading_title; ?>"><img
                          itemprop="image" src="<?php echo $thumb; ?>" title="<?php echo $heading_title; ?>"
                          alt="<?php echo $heading_title; ?>"/></a></li>
                  <?php } ?>
                  <?php if ($images) { ?>
                      <?php foreach ($images as $image) { ?>
                      <li class="image-additional"><a class="thumbnail" href="<?php echo $image['popup']; ?>"
                                                      title="<?php echo $heading_title; ?>"> <img
                            src="<?php echo $image['thumb']; ?>" title="<?php echo $heading_title; ?>"
                            alt="<?php echo $heading_title; ?>"/></a></li>
                      <?php } ?>
                  <?php } ?>
              </ul>
            <?php } ?>
        </div>
          <?php if ($column_left || $column_right) { ?>
              <?php $class = 'col-sm-4'; ?>
          <?php } else { ?>
              <?php $class = 'col-sm-7'; ?>
          <?php } ?>
        <div class="<?php echo $class; ?> card-info">

            <?php if ($review_status) { ?>
              <div class="rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                <p>
                  <span><b>Рейтинг</b></span>
                    <?php for ($i = 1; $i <= 5; $i++) { ?>
                        <?php if ($rating < $i) { ?>
                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                        <?php } else { ?>
                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x star-orange"></i></span>
                        <?php } ?>
                    <?php } ?>
                  <a href=""
                     onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><?php echo $reviews; ?></a>
                </p>
                <!-- AddThis Button BEGIN -->
                <!--              <div class="addthis_toolbox addthis_default_style"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a class="addthis_counter addthis_pill_style"></a></div>-->
                <!--              <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>-->
                <!-- AddThis Button END -->
              </div>
            <?php } ?>

            <?php if ($sku) { ?>
              <div class="sku">
                <p><b><?php echo $text_sku; ?></b> <?php echo $sku; ?></p>
              </div>
            <?php } ?>
<!--            --><?php //echo $text_attribute_text; ?>
<!--            --><?php //if ($attribute_groups) { ?>
<!--              <div class="attribute">-->
<!--                <p><b></b> --><?php //echo $attribute; ?><!--</p>-->
<!--              </div>-->
<!--            --><?php //} ?>
            <?php if ($attribute_groups) { ?>
              <div class="card-info__attribute">
                  <?php foreach ($attribute_groups as $attribute_group) { ?>
                      <?php foreach ($attribute_group['attribute'] as $attribute) { ?>
                        <div><b><?php echo $attribute['name']; ?></b></div>
                        <div> <?php echo nl2br($attribute['text']); ?></div>
                      <?php } ?>
                  <?php } ?>
              </div>
            <?php } ?>

            <?php if ($price) { ?>
              <div class="price">
                <p>
                  <b><?php echo $entry_cost; ?></b>
                    <?php if (!$special) { ?>
                      <span class="products__price-new"><?php echo $price; ?></span>
                    <?php } else { ?>
                      <span class="products__price-old"
                            style="text-decoration: line-through;"><?php echo $price; ?></span>
                      <span class="products__price-new"><?php echo $special; ?></span>
                    <?php } ?>
                </p>

                <p class="card-info__quantity">
                  <label class="control-label" for="input-quantity"><b><?php echo $entry_qty; ?></b></label>
                  <input type="button" value="-" id="button_minus">
                  <input type="number" name="quantity" value="<?php echo $minimum; ?>" step="1" size="2"
                         id="input-quantity"/>
                  <input type="button" value="+" id="button_plus">
                  <input type="hidden" name="product_id" value="<?php echo $product_id; ?>"/>
                </p>

                <p class="form-group">
                  <button type="button" id="button-cart" data-loading-text="<?php echo $text_loading; ?>"
                          class="btn-green button-cart"><span><?php echo $button_card_order; ?></span></button>
                  <button type="button" id="button-order" data-loading-text="<?php echo $text_loading; ?>"
                          class="btn-orange button-order"><span><?php echo $button_quick_order; ?></span></button>
                </p>

                <ul class="soc-icons">
                  <li><a href="#"><span class="icon-soc icon-vk"></span></a></li>
                  <li><a href="#"><span class="icon-soc icon-ok"></span></a></li>
                  <li><a href="#"><span class="icon-soc icon-instagram"></span></a></li>
                </ul>
              </div>
            <?php } ?>
          <div id="product">
              <?php if ($options) { ?>
                <hr>
                <h3><?php echo $text_option; ?></h3>
                  <?php foreach ($options as $option) { ?>
                      <?php if ($option['type'] == 'select') { ?>
                    <div class="form-group<?php echo($option['required'] ? ' required' : ''); ?>">
                      <label class="control-label"
                             for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
                      <select name="option[<?php echo $option['product_option_id']; ?>]"
                              id="input-option<?php echo $option['product_option_id']; ?>" class="form-control">
                        <option value=""><?php echo $text_select; ?></option>
                          <?php foreach ($option['product_option_value'] as $option_value) { ?>
                            <option
                              value="<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                                <?php if ($option_value['price']) { ?>
                                  (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                                <?php } ?>
                            </option>
                          <?php } ?>
                      </select>
                    </div>
                      <?php } ?>
                      <?php if ($option['type'] == 'radio') { ?>
                    <div class="form-group<?php echo($option['required'] ? ' required' : ''); ?>">
                      <label class="control-label"><?php echo $option['name']; ?></label>
                      <div id="input-option<?php echo $option['product_option_id']; ?>">
                          <?php foreach ($option['product_option_value'] as $option_value) { ?>
                            <div class="radio">
                              <label>
                                <input type="radio" name="option[<?php echo $option['product_option_id']; ?>]"
                                       value="<?php echo $option_value['product_option_value_id']; ?>"/>
                                  <?php echo $option_value['name']; ?>
                                  <?php if ($option_value['price']) { ?>
                                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                                  <?php } ?>
                              </label>
                            </div>
                          <?php } ?>
                      </div>
                    </div>
                      <?php } ?>
                      <?php if ($option['type'] == 'checkbox') { ?>
                    <div class="form-group<?php echo($option['required'] ? ' required' : ''); ?>">
                      <label class="control-label"><?php echo $option['name']; ?></label>
                      <div id="input-option<?php echo $option['product_option_id']; ?>">
                          <?php foreach ($option['product_option_value'] as $option_value) { ?>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="option[<?php echo $option['product_option_id']; ?>][]"
                                       value="<?php echo $option_value['product_option_value_id']; ?>"/>
                                  <?php echo $option_value['name']; ?>
                                  <?php if ($option_value['price']) { ?>
                                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                                  <?php } ?>
                              </label>
                            </div>
                          <?php } ?>
                      </div>
                    </div>
                      <?php } ?>
                      <?php if ($option['type'] == 'image') { ?>
                    <div class="form-group<?php echo($option['required'] ? ' required' : ''); ?>">
                      <label class="control-label"><?php echo $option['name']; ?></label>
                      <div id="input-option<?php echo $option['product_option_id']; ?>">
                          <?php foreach ($option['product_option_value'] as $option_value) { ?>
                            <div class="radio">
                              <label>
                                <input type="radio" name="option[<?php echo $option['product_option_id']; ?>]"
                                       value="<?php echo $option_value['product_option_value_id']; ?>"/>
                                <img src="<?php echo $option_value['image']; ?>"
                                     alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>"
                                     class="img-thumbnail"/> <?php echo $option_value['name']; ?>
                                  <?php if ($option_value['price']) { ?>
                                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                                  <?php } ?>
                              </label>
                            </div>
                          <?php } ?>
                      </div>
                    </div>
                      <?php } ?>
                      <?php if ($option['type'] == 'text') { ?>
                    <div class="form-group<?php echo($option['required'] ? ' required' : ''); ?>">
                      <label class="control-label"
                             for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
                      <input type="text" name="option[<?php echo $option['product_option_id']; ?>]"
                             value="<?php echo $option['value']; ?>" placeholder="<?php echo $option['name']; ?>"
                             id="input-option<?php echo $option['product_option_id']; ?>" class="form-control"/>
                    </div>
                      <?php } ?>
                      <?php if ($option['type'] == 'textarea') { ?>
                    <div class="form-group<?php echo($option['required'] ? ' required' : ''); ?>">
                      <label class="control-label"
                             for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
                      <textarea name="option[<?php echo $option['product_option_id']; ?>]" rows="5"
                                placeholder="<?php echo $option['name']; ?>"
                                id="input-option<?php echo $option['product_option_id']; ?>"
                                class="form-control"><?php echo $option['value']; ?></textarea>
                    </div>
                      <?php } ?>
                      <?php if ($option['type'] == 'file') { ?>
                    <div class="form-group<?php echo($option['required'] ? ' required' : ''); ?>">
                      <label class="control-label"><?php echo $option['name']; ?></label>
                      <button type="button" id="button-upload<?php echo $option['product_option_id']; ?>"
                              data-loading-text="<?php echo $text_loading; ?>" class="btn btn-default btn-block"><i
                          class="fa fa-upload"></i> <?php echo $button_upload; ?></button>
                      <input type="hidden" name="option[<?php echo $option['product_option_id']; ?>]" value=""
                             id="input-option<?php echo $option['product_option_id']; ?>"/>
                    </div>
                      <?php } ?>
                      <?php if ($option['type'] == 'date') { ?>
                    <div class="form-group<?php echo($option['required'] ? ' required' : ''); ?>">
                      <label class="control-label"
                             for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
                      <div class="input-group date">
                        <input type="text" name="option[<?php echo $option['product_option_id']; ?>]"
                               value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD"
                               id="input-option<?php echo $option['product_option_id']; ?>" class="form-control"/>
                        <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
                    </div>
                      <?php } ?>
                      <?php if ($option['type'] == 'datetime') { ?>
                    <div class="form-group<?php echo($option['required'] ? ' required' : ''); ?>">
                      <label class="control-label"
                             for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
                      <div class="input-group datetime">
                        <input type="text" name="option[<?php echo $option['product_option_id']; ?>]"
                               value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD HH:mm"
                               id="input-option<?php echo $option['product_option_id']; ?>" class="form-control"/>
                        <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
                    </div>
                      <?php } ?>
                      <?php if ($option['type'] == 'time') { ?>
                    <div class="form-group<?php echo($option['required'] ? ' required' : ''); ?>">
                      <label class="control-label"
                             for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
                      <div class="input-group time">
                        <input type="text" name="option[<?php echo $option['product_option_id']; ?>]"
                               value="<?php echo $option['value']; ?>" data-date-format="HH:mm"
                               id="input-option<?php echo $option['product_option_id']; ?>" class="form-control"/>
                        <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
                    </div>
                      <?php } ?>
                  <?php } ?>
              <?php } ?>
              <?php if ($recurrings) { ?>
                <hr>
                <h3><?php echo $text_payment_recurring ?></h3>
                <div class="form-group required">
                  <select name="recurring_id" class="form-control">
                    <option value=""><?php echo $text_select; ?></option>
                      <?php foreach ($recurrings as $recurring) { ?>
                        <option
                          value="<?php echo $recurring['recurring_id'] ?>"><?php echo $recurring['name'] ?></option>
                      <?php } ?>
                  </select>
                  <div class="help-block" id="recurring-description"></div>
                </div>
              <?php } ?>
          </div>
        </div>
      </div>
      <div class="nav-tabs-wrap">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-description" data-toggle="tab"><?php echo $tab_description; ?></a></li>
            <?php if ($review_status) { ?>
              <li><a href="#tab-review" data-toggle="tab"><?php echo $tab_review; ?></a></li>
            <?php } ?>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-description" itemprop="description"><?php echo $description; ?></div>
            <?php if ($review_status) { ?>
              <div class="tab-pane" id="tab-review">
                <form class="form-horizontal" id="form-review">
                  <div id="review" class="review"></div>
                    <?php if ($review_guest) { ?>
                  <div class="review-guest">
                    <div class="form-group required">
                      <div class="col-sm-3 col-md-2">
                        <label class="control-label" for="input-name"><?php echo $entry_name; ?></label>
                      </div>
                      <div class="col-sm-10 col-md-9">
                        <input type="text" name="name" value="" id="input-name" class="form-control"/>
                      </div>
                    </div>
                    <div class="form-group required">
                      <div class="col-sm-3 col-md-2">
                        <label class="control-label" for="input-review"><?php echo $entry_review; ?></label>
                      </div>
                      <div class="col-sm-10 col-md-9">
                        <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="form-group required">
                      <div class="col-sm-3 col-md-2">
                        <label class="control-label"><?php echo $entry_rating_guest; ?></label>
                      </div>
                      <div class="col-sm-10 col-md-9 reviewStars-input">
                        <input type="radio" name="rating" id="star-5" value="5">
                        <label for="star-5" class="star"><span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span></label>
                        <input type="radio" name="rating" id="star-4" value="4">
                        <label for="star-4" class="star"><span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span></label>
                        <input type="radio" name="rating" id="star-3" value="3">
                        <label for="star-3" class="star"><span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span></label>
                        <input type="radio" name="rating" id="star-2" value="2">
                        <label for="star-2" class="star"><span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span></label>
                        <input type="radio" name="rating" id="star-1" value="1">
                        <label for="star-1" class="star"><span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span></label>
                      </div>
                    </div>

                      <?php echo $captcha; ?>
                    <div class="buttons clearfix">
                      <div class="pull-right">
                        <a href="#" class="btn-cancel">Отмена</a>
                        <button type="button" id="button-review" data-loading-text="<?php echo $text_loading; ?>"
                                class="btn btn-green btn-green--single text-big"><span><?php echo $text_send; ?></span></button>
                      </div>
                    </div>
                      <?php } else { ?>
                          <?php echo $text_login; ?>
                      <?php } ?>
                </form>
              </div>
            <?php } ?>
        </div>
      </div>
    </div>
      <?php if ($tags) { ?>
        <p><?php echo $text_tags; ?>
            <?php for ($i = 0; $i < count($tags); $i++) { ?>
                <?php if ($i < (count($tags) - 1)) { ?>
                <a href="<?php echo $tags[$i]['href']; ?>"><?php echo $tags[$i]['tag']; ?></a>,
                <?php } else { ?>
                <a href="<?php echo $tags[$i]['href']; ?>"><?php echo $tags[$i]['tag']; ?></a>
                <?php } ?>
            <?php } ?>
        </p>
      <?php } ?>
      <?php echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div>

<?php echo $content_bottom2; ?>
<script type="text/javascript"><!--
    $('select[name=\'recurring_id\'], input[name="quantity"]').change(function () {
        $.ajax({
            url: 'index.php?route=product/product/getRecurringDescription',
            type: 'post',
            data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
            dataType: 'json',
            beforeSend: function () {
                $('#recurring-description').html('');
            },
            success: function (json) {
                $('.alert, .text-danger').remove();

                if (json['success']) {
                    $('#recurring-description').html(json['success']);
                }
            }
        });
    });
    //--></script>
<script type="text/javascript"><!--
    $('#button-cart').on('click', function () {
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-cart').button('loading');
            },
            complete: function () {
                $('#button-cart').button('reset');
            },
            success: function (json) {
                $('.alert, .text-danger').remove();
                $('.form-group').removeClass('has-error');

                if (json['error']) {
                    if (json['error']['option']) {
                        for (i in json['error']['option']) {
                            var element = $('#input-option' + i.replace('_', '-'));

                            if (element.parent().hasClass('input-group')) {
                                element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            } else {
                                element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            }
                        }
                    }

                    if (json['error']['recurring']) {
                        $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                    }

                    // Highlight any found errors
                    $('.text-danger').parent().addClass('has-error');
                }

                if (json['success']) {
                    $('.breadcrumb').after('<div class="alert alert-success">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                    $('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

                    $('html, body').animate({scrollTop: 0}, 'slow');

                    $('#cart > ul').load('index.php?route=common/cart/info ul li');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    //--></script>
<script type="text/javascript"><!--
    $('.date').datetimepicker({
        pickTime: false
    });

    $('.datetime').datetimepicker({
        pickDate: true,
        pickTime: true
    });

    $('.time').datetimepicker({
        pickDate: false
    });

    $('button[id^=\'button-upload\']').on('click', function () {
        var node = this;

        $('#form-upload').remove();

        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

        $('#form-upload input[name=\'file\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }

        timer = setInterval(function () {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);

                $.ajax({
                    url: 'index.php?route=tool/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $(node).button('loading');
                    },
                    complete: function () {
                        $(node).button('reset');
                    },
                    success: function (json) {
                        $('.text-danger').remove();

                        if (json['error']) {
                            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                        }

                        if (json['success']) {
                            alert(json['success']);

                            $(node).parent().find('input').attr('value', json['code']);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });
    //--></script>
<script type="text/javascript"><!--
    $('#review').delegate('.pagination a', 'click', function (e) {
        e.preventDefault();

        $('#review').fadeOut('slow');

        $('#review').load(this.href);

        $('#review').fadeIn('slow');
    });

    $('#review').load('index.php?route=product/product/review&product_id=<?php echo $product_id; ?>');

    $('#button-review').on('click', function () {
        $.ajax({
            url: 'index.php?route=product/product/write&product_id=<?php echo $product_id; ?>',
            type: 'post',
            dataType: 'json',
            data: $("#form-review").serialize(),
            beforeSend: function () {
                $('#button-review').button('loading');
            },
            complete: function () {
                $('#button-review').button('reset');
            },
            success: function (json) {
                $('.alert-success, .alert-danger').remove();

                if (json['error']) {
                    $('#review').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                }

                if (json['success']) {
                    $('#review').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

                    $('input[name=\'name\']').val('');
                    $('textarea[name=\'text\']').val('');
                    $('input[name=\'rating\']:checked').prop('checked', false);
                }
            }
        });
    });

    $(document).ready(function () {
        $('.thumbnails').magnificPopup({
            type: 'image',
            delegate: 'a',
            gallery: {
                enabled: true
            },
            mainClass: 'mfp-with-zoom mfp-img-mobile',
            zoom: {
                enabled: true,
                duration: 300,
                opener: function (element) {
                    return element.find('img');
                }
            }
        });
    });
    //--></script>
<?php echo $footer; ?>
