<?php echo $header; ?>
<div class="search-page">
  <div class="container">
      <?php $this->partial('breadcrumbs', array('breadcrumbs' => $breadcrumbs));?>
    <div class="row"><?php echo $column_left; ?>
        <?php if ($column_left && $column_right) { ?>
            <?php $class = 'col-sm-6'; ?>
        <?php } elseif ($column_left || $column_right) { ?>
            <?php $class = 'col-sm-9'; ?>
        <?php } else { ?>
            <?php $class = 'col-sm-12'; ?>
        <?php } ?>
      <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
        <h1 class="title-primary"><?php echo $heading_title; ?></h1>
        <label class="control-label" for="input-search"><?php echo $entry_search; ?></label>
        <div class="row">
          <div class="col-sm-4">
            <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_keyword; ?>" id="input-search" class="form-control input-form" />
          </div>
          <div class="col-sm-3">
            <select name="category_id" class="category_id js-select input-sort">
              <option value="0"><?php echo $text_category; ?></option>
                <?php foreach ($categories as $category_1) { ?>
                    <?php if ($category_1['category_id'] == $category_id) { ?>
                    <option value="<?php echo $category_1['category_id']; ?>" selected="selected"><?php echo $category_1['name']; ?></option>
                    <?php } else { ?>
                    <option value="<?php echo $category_1['category_id']; ?>"><?php echo $category_1['name']; ?></option>
                    <?php } ?>
                    <?php foreach ($category_1['children'] as $category_2) { ?>
                        <?php if ($category_2['category_id'] == $category_id) { ?>
                      <option value="<?php echo $category_2['category_id']; ?>" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_2['name']; ?></option>
                        <?php } else { ?>
                      <option value="<?php echo $category_2['category_id']; ?>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_2['name']; ?></option>
                        <?php } ?>
                        <?php foreach ($category_2['children'] as $category_3) { ?>
                            <?php if ($category_3['category_id'] == $category_id) { ?>
                        <option value="<?php echo $category_3['category_id']; ?>" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_3['name']; ?></option>
                            <?php } else { ?>
                        <option value="<?php echo $category_3['category_id']; ?>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $category_3['name']; ?></option>
                            <?php } ?>
                        <?php } ?>
                    <?php } ?>
                <?php } ?>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
              <?php if ($sub_category) { ?>
                <input type="checkbox" id="sub_category" name="sub_category" value="1" checked="checked" class="custom-checkbox"/>
                <label for="sub_category"><?php echo $text_sub_category; ?></label>
              <?php } else { ?>
                <input type="checkbox" id="sub_category" name="sub_category" value="1" class="custom-checkbox"/>
                <label for="sub_category"><?php echo $text_sub_category; ?></label>
              <?php } ?>
          </div>
        </div>
        <p>
              <?php if ($description) { ?>
                <input type="checkbox" name="description" value="1" id="description" checked="checked" class="custom-checkbox"/>
                <label for="description" class="checkbox-inline"><?php echo $entry_description; ?></label>
              <?php } else { ?>
                <input type="checkbox" name="description" value="1" id="description" class="custom-checkbox"/>
                <label for="description" class="checkbox-inline"><?php echo $entry_description; ?></label>
              <?php } ?>
        </p>
        <button type="button" id="button-search" class="btn-green btn-green--single" /><span><?php echo $button_search; ?></span></button>
        <h2><?php echo $text_search; ?></h2>
          <?php if ($products) { ?>
            <p><a href="<?php echo $compare; ?>" id="compare-total"><?php echo $text_compare; ?></a></p>
            <div class="row">
              <div class="col-sm-2 hidden-xs">
                <div class="btn-group hidden-xs">
                  <button type="button" id="large-view" class="btn btn-default btn-sort" data-toggle="tooltip"
                          title="<?php echo $button_large; ?>"><i class="fa fa-th-large"></i></button>
                  <button type="button" id="list-view" class="btn btn-default btn-sort" data-toggle="tooltip"
                          title="<?php echo $button_list; ?>"><i class="fa fa-th-list"></i></button>
                  <button type="button" id="grid-view" class="btn btn-default btn-sort" data-toggle="tooltip"
                          title="<?php echo $button_grid; ?>"><i class="fa fa-th"></i></button>
                </div>
              </div>
              <div class="col-sm-5 text-right">
                <label class="control-label" for="input-sort"><?php echo $text_sort; ?></label>
                <select id="input-sort" class="col-sm-3 js-select input-sort" onchange="location = this.value;">
                    <?php foreach ($sorts as $sorts) { ?>
                        <?php if ($sorts['value'] == $sort . '-' . $order) { ?>
                        <option value="<?php echo $sorts['href']; ?>" selected="selected"><?php echo $sorts['text']; ?></option>
                        <?php } else { ?>
                        <option value="<?php echo $sorts['href']; ?>"><?php echo $sorts['text']; ?></option>
                        <?php } ?>
                    <?php } ?>
                </select>
              </div>
              <div class="col-sm-5 text-right">
                <label class="control-label" for="input-limit"><?php echo $text_limit; ?></label>
                <select id="input-limit" class="js-select input-limit" onchange="location = this.value;">
                    <?php foreach ($limits as $limits) { ?>
                        <?php if ($limits['value'] == $limit) { ?>
                        <option value="<?php echo $limits['href']; ?>" selected="selected"><?php echo $limits['text']; ?></option>
                        <?php } else { ?>
                        <option value="<?php echo $limits['href']; ?>"><?php echo $limits['text']; ?></option>
                        <?php } ?>
                    <?php } ?>
                </select>
              </div>
            </div>
            <br />
            <div class="row">
                <?php foreach ($products as $product) { ?>
                    <?php $this->partial('product_item', array('product' => $product, 'button_cart' => $button_cart, 'text_tax' => $text_tax, 'button_wishlist' => $button_wishlist, 'button_compare' => $button_compare));?>

                <?php } ?>
            </div>
            <div class="row">
              <div class="col-sm-6 text-left"><?php echo $pagination; ?></div>
            </div>
          <?php } else { ?>
            <p><?php echo $text_empty; ?></p>
          <?php } ?>
          <?php echo $content_bottom; ?></div>
        <?php echo $column_right; ?></div>
  </div>
</div>
<script type="text/javascript"><!--
$('#button-search').bind('click', function() {
	url = 'index.php?route=product/search';

	var search = $('#content input[name=\'search\']').prop('value');

	if (search) {
		url += '&search=' + encodeURIComponent(search);
	}

	var category_id = $('#content select[name=\'category_id\']').prop('value');

	if (category_id > 0) {
		url += '&category_id=' + encodeURIComponent(category_id);
	}

	var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

	if (sub_category) {
		url += '&sub_category=true';
	}

	var filter_description = $('#content input[name=\'description\']:checked').prop('value');

	if (filter_description) {
		url += '&description=true';
	}

	location = url;
});

$('#content input[name=\'search\']').bind('keydown', function(e) {
	if (e.keyCode == 13) {
		$('#button-search').trigger('click');
	}
});

$('select[name=\'category_id\']').on('change', function() {
	if (this.value == '0') {
		$('input[name=\'sub_category\']').prop('disabled', true);
	} else {
		$('input[name=\'sub_category\']').prop('disabled', false);
	}
});

$('select[name=\'category_id\']').trigger('change');
--></script>
<?php echo $footer; ?>
