@import 'mixins';
@import 'fonts';

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
  color: inherit;
  border-color: inherit;
}

.btn.active, .btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

}
.bootstrap-select {
  display: inline-block;
  min-width: 198px;
  width: auto!important;
  & > .dropdown-toggle {
    max-width: none;
  }
  button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #ffffff none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    padding: 0;
    @include font-ProximaNovaLight;
    @include fontSize(18px);
    color: $testColor;
    .filter-option {
      width: auto;
      height: 28px;
      border: 1px solid rgba(35, 49, 55, 0.19);
      background: #ffffff none;
      padding: 0 !important;
      .filter-option-inner {
        padding: 0 10px !important;
      }
      &:hover, &:focus {
        border: 1px solid rgba(35, 49, 55, 0.19);
        background: transparent none;
      }
    }

    &:hover, &:focus {
      border: none;
      background: transparent none;
    }
    i {
      font-size: 17px;
    }
  }
  .dropdown-toggle:focus, .dropdown-toggle:hover {
    outline: none!important;
  }
}
.btn-green {
  width: auto;
  height: 46px;
  padding: 5px;
  background-color: #5c980e;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: none;
  text-align: center;
  -webkit-box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  @include transition(all, .2s, ease);
  span {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, .5);
    background-color: #5c980e;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    @include font-ProximaNovaBold;
    @include fontSize(14px);
    color: #ffffff;
    text-transform: inherit;
    @include transition(all, .1s, ease);
  }
  &:hover {
    background-color: #64ad04;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    span {
      background-color: #64ad04;
      border-color: transparent;
    }
  }
  &.btn-green--single {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    span {
      padding: 7px;
      @include font-ProximaNova;
      @include fontSize(18px);
    }
  }
  &.btn-green--form {
    display: block;
    margin: 10px auto 12px;
    height: 46px;
    width: 100%;
    span {
      color: #fff;
      @include font-ProximaNova;
      @include fontSize(14px);
      @include lineHeight(36px);
      letter-spacing: 0.001em;
    }
  }
}
.btn-orange {
  width: auto;
  height: 40px;
  min-width: 158px;
  line-height: 29px;
  padding: 5px;
  background-color: #fea31f;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: none;
  text-align: center;
  -webkit-box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  @include transition(all, .2s, ease);
  span {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, .5);
    background-color: #fea31f;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    @include font-ProximaNovaBold;
    @include fontSize(14px);
    color: #ffffff;
    text-transform: inherit;
    @include transition(all, .1s, ease);
  }
  &:hover {
    background-color: #fea31f;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    span {
      background-color: #fea31f;
      border-color: transparent;
    }
  }
}
.btn-sort {
  border: none;
  height: 29px;
  width: 29px;
  padding: 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  i {
    color: #959595;
    font-size: 20px;
    line-height: 22px;
    text-align: center;

  }
  &:hover {
    i {
      color: #5c980e;
    }
  }
  &.active {
    i {
      color: #5c980e;
    }
  }
}
.button-cart {
  height: 40px;
  min-width: 128px;
  line-height: 29px;
  margin-left: 164px;
}
#button-review {
  height: 40px;
  line-height: 16px;
  min-width: 150px;
}
.btn-cancel {
  color: $testColor;
  @include font-ProximaNovaLight;
  @include fontSize(14px);
  line-height: 20px;
  text-decoration: underline;
  margin-right: 25px;
  &:hover {
    text-decoration: none;
  }
}
