@import 'mixins';
@import 'fonts';
@import 'buttons';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
html {
  font-size: $mainSizeFonts;
}
body {
  @include font-ProximaNova;
  color: $testColor;
  font-size: $mainSizeFonts;
  @include lineHeight(20px);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}
img {
  width: 100%;
}
ul {
  margin: 0;
  list-style: none;
}
* {
  padding: 0;
  margin: 0;
  outline: none!important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration-skip-ink: none;
  &:hover {
    outline: 0!important;
  }
  &:focus {
    outline: 0!important;
  }
}
hr {
  display: block;
  width: 100%;
  margin: 0;
  border: 0;
  border-top: 1px solid #a7adaf;
}
button, a {
  &:focus {
    background: none;
    outline: 0!important;
  }
}
/* Icons */
.icon-home {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url("../image/icons/home.svg") no-repeat;
}
.icon-search {
  display: inline-block;
  height: 16px;
  width: 15px;
  background: url("../image/icons/icon-search.svg") no-repeat;
  opacity: .6;
}
.icon-card {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #687275;
  margin-top: 5px;
  &:after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: url("../image/icons/card.svg") no-repeat;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
  }
}
.icon-soc {
  display: inline-block;
  height: 45px;
  width: 45px;
  -webkit-background-size: cover;
  background-size: cover;
  li {
    list-style: none;
  }
  &.icon-vk {
    background: url("../image/icons/icon-vk.png");
    -webkit-background-size: cover;
    background-size: cover;
  }
  &.icon-ok {
    background: url("../image/icons/icon-ok.png");
    -webkit-background-size: cover;
    background-size: cover;
  }
  &.icon-instagram {
    background: url("../image/icons/icon-instagram.png");
    -webkit-background-size: cover;
    background-size: cover;
  }
}
.label-item {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 46px;
  height: 45px;
  padding-right: 4px;
  @include font-ProximaNovaBold;
  @include fontSize(13px);
  line-height: 32px;
  color: #ffffff;
  text-align: right;
  text-transform: uppercase;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  &--hit {
    background-image: url(../image/label-hits.png);
  }
  &--news {
    background-image: url(../image/label-news.png);
  }
}
.text-big {
  text-transform: uppercase;
}
.text-bold {
  font-weight: 700!important;
  span {
    font-weight: inherit;
  }
}
.text-normal {
  font-weight: 400!important;
  span {
    font-weight: inherit;
  }
}
.text-red {
  color: #c22142;
}
.text-green {
  color: #5c980e;
}
.text-right {
  text-align: right;
}
.input-form {
  height: 35px;
  padding: 0 15px;
  margin-bottom: 6px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  @include fontSize(16px);
  line-height: 36px;
  color: #898989;
  background: #fff;
  border: 1px solid rgba(35, 49, 55, 0.19);
  &[type="text"].form-control {
    @include fontSize(16px);
  }
}
.textarea-form {
  padding: 0 15px;
  margin-bottom: 6px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 16px!important;
  line-height: 36px;
  color: #898989;
  background: #fff;
  border: 1px solid rgba(35, 49, 55, 0.19);
  &[type="text"].form-control {
    @include fontSize(16px);
  }
}
#button_minus {
  width: 29px;
  height: 34px;
  margin-right: -4px;
  border: 1px solid rgba(35, 49, 55, 0.19);
  background: #f1f1f1 linear-gradient(to top, rgba(0, 0, 0, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
  border-right: none;
  @include font-ProximaNovaBold;
  @include fontSize(18px);
}
#button_plus {
  width: 29px;
  height: 34px;
  margin-left: -5px;
  border: 1px solid rgba(35, 49, 55, 0.19);
  background: #f1f1f1 linear-gradient(to top, rgba(0, 0, 0, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
  -webkit-border-bottom-right-radius: 100%;
  -moz-border-bottom-right-radius: 100%;
  border-bottom-right-radius: 100%;
  -webkit-border-top-right-radius: 100%;
  -moz-border-top-right-radius: 100%;
  border-top-right-radius: 100%;
  border-left: none;
  @include font-ProximaNovaBold;
  @include fontSize(18px);
}
#input-quantity {
  min-width: 40px;
  width: 40px;
  height: 34px;
  border: 1px solid rgba(35, 49, 55, 0.19);
  background: #fff;
  @include font-ProximaNovaBold;
  @include fontSize(18px);
  padding: 0 5px;
  text-align: center;
  border-right: none;
  border-left: none;
  box-shadow: inset 0 3px 4px rgba(35, 49, 55, 0.19);
}
.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  .item {
    display: inline-block;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.title-heading {
  display: block;
  position: relative;
  margin: 20px auto 52px;
  @include font-ProximaNova;
  @include fontSize(36px);
  @include lineHeight(44px);
  color: $testColor;
  text-transform: uppercase;
  text-align: center;
  span {
    display: inline-block;
    position: relative;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    &:before {
      content: '';
      position: absolute;
      left: -116px;
      width: 100px;
      height: 44px;
      background: url("../image/title_bg_left.png") no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
    &:after {
      content: '';
      position: absolute;
      right: -114px;
      width: 100px;
      height: 44px;
      background: url("../image/title_bg_right.png") no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 19px;
    left: 0;
    width: 27%;
    height: 1px;
    background-color: #a7adaf;
  }
  &:after {
    content: '';
    position: absolute;
    top: 19px;
    right: 0;
    width: 27%;
    height: 1px;
    background-color: #a7adaf;
  }
  @media screen and (max-width: 767px) {
    font-size: 26px;
    span {
      &:before {
        content: '';
        position: absolute;
        top: 5px;
        left: -85px;
        width: 70px;
        height: 30px;
      }
      &:after {
        content: '';
        position: absolute;
        top: 5px;
        right: -85px;
        width: 70px;
        height: 30px;
      }
    }
  }
}
.title-primary {
  display: block;
  position: relative;
  margin: 0 auto 34px;
  @include font-ProximaNova;
  @include fontSize(36px);
  color: $testColor;
  text-transform: uppercase;
  text-align: left;
}
.slick-slider {
  visibility: hidden;
  &.slick-initialized {
    visibility: visible;
  }
}
.box-heading {
  margin-bottom: 8px;
  @include font-ProximaNovaBold;
  @include fontSize(24px);
  @include lineHeight(32px);
  color: $testColor;
}

/* Base for label styling */
.custom-checkbox:not(:checked),
.custom-checkbox:checked {
  position: absolute;
  left: -9999px;
}
.custom-checkbox:not(:checked) + label,
.custom-checkbox:checked + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

/* checkbox aspect */
.custom-checkbox:not(:checked) + label:before,
.custom-checkbox:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 2px;
  width: 19px;
  height: 19px;
  background-color: #ffffff;
}
/* checked mark aspect */
.custom-checkbox:not(:checked) + label:after,
.custom-checkbox:checked + label:after {
  content: '\f00c';
  font-family: FontAwesome;
  position: absolute;
  left: 0; top: 2px;
  width: 19px;
  height: 19px;
  font-size: 1em;
  line-height: 1;
  color: #fff;
  transition: all .2s;
  background-color: #5c980e;
  text-align: center;
}
/* checked mark aspect changes */
.custom-checkbox:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.custom-checkbox:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.custom-checkbox:disabled:not(:checked) + label:before,
.custom-checkbox:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.custom-checkbox:disabled:checked + label:after {
  color: #999;
}
.custom-checkbox:disabled + label {
  color: #aaa;
}
/* accessibility */
.custom-checkbox:checked:focus + label:before,
.custom-checkbox:not(:checked):focus + label:before {
  border: none;
}

.reviewStars-input{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;}
.reviewStars-input label i{color: rgba(35, 49, 55, 0.55);cursor:pointer;font-size: 24px;margin: 3px 0 3px;}
.reviewStars-input label:hover i {color: #fea31f;}
.reviewStars-input label:hover ~ label i{color: #fea31f;}
.reviewStars-input input{display:none;}
.reviewStars-input input:checked {color: #fea31f;}
.reviewStars-input input:checked ~ label i{color: #fea31f;}

.soc-icons {
  text-align: center;
  li {
    display: inline-block;
    margin: 0 5px;
    a {
      display: block;
    }
  }
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: #5c980e;
}
.dropdown-menu li > a:hover {
  background: none;
  background-color: #5c980e;
}
