@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }
.btn-green {
  width: auto;
  height: 46px;
  padding: 5px;
  background-color: #5c980e;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: none;
  text-align: center;
  -webkit-box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .btn-green span {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #5c980e;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-size: 0.875rem;
    color: #ffffff;
    text-transform: inherit;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; }
  .btn-green:hover {
    background-color: #64ad04;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .btn-green:hover span {
      background-color: #64ad04;
      border-color: transparent; }
  .btn-green.btn-green--single {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .btn-green.btn-green--single span {
      padding: 6px;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 18px;
      font-size: 1.125rem; }
  .btn-green.btn-green--form {
    display: block;
    margin: 10px auto 12px;
    height: 46px;
    width: 100%; }
    .btn-green.btn-green--form span {
      color: #fff;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 36px;
      line-height: 2.25rem; }

.btn-orange {
  width: auto;
  height: 40px;
  min-width: 158px;
  line-height: 29px;
  padding: 5px;
  background-color: #fea31f;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: none;
  text-align: center;
  -webkit-box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .btn-orange span {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #fea31f;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-size: 0.875rem;
    color: #ffffff;
    text-transform: inherit;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; }
  .btn-orange:hover {
    background-color: #fea31f;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .btn-orange:hover span {
      background-color: #fea31f;
      border-color: transparent; }

.btn-sort {
  border: none;
  height: 29px;
  width: 29px;
  padding: 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .btn-sort i {
    color: #959595;
    font-size: 20px;
    line-height: 22px;
    text-align: center; }
  .btn-sort:hover i {
    color: #5c980e; }

.button-cart {
  height: 40px;
  min-width: 128px;
  line-height: 29px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

html {
  font-size: 16px; }

body {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  color: #233137;
  font-size: 16px;
  line-height: 20px;
  line-height: 1.25rem;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

img {
  width: 100%; }

ul {
  margin: 0;
  list-style: none; }

* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration-skip-ink: none; }
  *:hover {
    background: none;
    outline: none; }
  *:focus {
    background: none;
    outline: none; }

/* Icons */
.icon-home {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url("../image/icons/home.svg") no-repeat; }

.icon-search {
  display: inline-block;
  height: 16px;
  width: 15px;
  background: url("../image/icons/icon-search.svg") no-repeat;
  opacity: .6; }

.icon-card {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #687275;
  margin-top: 5px; }
  .icon-card:after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: url("../image/icons/card.svg") no-repeat;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px; }

.icon-soc {
  display: inline-block;
  height: 45px;
  width: 45px;
  -webkit-background-size: cover;
  background-size: cover; }
  .icon-soc li {
    list-style: none; }
  .icon-soc.icon-vk {
    background: url("../image/icons/icon-vk.png");
    -webkit-background-size: cover;
    background-size: cover; }
  .icon-soc.icon-ok {
    background: url("../image/icons/icon-ok.png");
    -webkit-background-size: cover;
    background-size: cover; }
  .icon-soc.icon-instagram {
    background: url("../image/icons/icon-instagram.png");
    -webkit-background-size: cover;
    background-size: cover; }

.text-big {
  text-transform: uppercase; }

.text-bold {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700; }

.red {
  color: #c22142; }

.green {
  color: #5c980e; }

.text-right {
  text-align: right; }

.input-form {
  padding: 0 15px;
  border: 1px solid rgba(35, 49, 55, 0.19);
  background: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #898989;
  font-size: 16px;
  font-size: 1rem;
  line-height: 36px;
  margin-bottom: 6px; }
  .input-form[type="text"].form-control {
    font-size: 16px;
    font-size: 1rem; }

.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; }
  .scroll .item {
    display: inline-block;
    margin-right: 30px; }
    .scroll .item:last-child {
      margin-right: 0; }

.title-heading {
  display: block;
  position: relative;
  margin: 20px auto 50px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 44px;
  line-height: 2.75rem;
  color: #233137;
  text-transform: uppercase;
  text-align: center; }
  .title-heading span {
    display: inline-block;
    position: relative;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit; }
    .title-heading span:before {
      content: '';
      position: absolute;
      left: -116px;
      width: 100px;
      height: 44px;
      background: url("../image/title_bg_left.png") no-repeat;
      -webkit-background-size: cover;
      background-size: cover; }
    .title-heading span:after {
      content: '';
      position: absolute;
      right: -114px;
      width: 100px;
      height: 44px;
      background: url("../image/title_bg_right.png") no-repeat;
      -webkit-background-size: cover;
      background-size: cover; }
  .title-heading:before {
    content: '';
    position: absolute;
    top: 19px;
    left: 0;
    width: 27%;
    height: 1px;
    background-color: #a7adaf; }
  .title-heading:after {
    content: '';
    position: absolute;
    top: 19px;
    right: 0;
    width: 27%;
    height: 1px;
    background-color: #a7adaf; }

.title-primary {
  display: block;
  position: relative;
  margin: 20px auto 35px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 36px;
  font-size: 2.25rem;
  color: #233137;
  text-transform: uppercase;
  text-align: left; }

.slick-slider {
  visibility: hidden; }
  .slick-slider.slick-initialized {
    visibility: visible; }

.box-heading {
  margin-bottom: 8px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  line-height: 2rem;
  color: #233137; }

/* Base for label styling */
.custom-checkbox:not(:checked),
.custom-checkbox:checked {
  position: absolute;
  left: -9999px; }

.custom-checkbox:not(:checked) + label,
.custom-checkbox:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer; }

/* checkbox aspect */
.custom-checkbox:not(:checked) + label:before,
.custom-checkbox:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 19px;
  height: 19px;
  border: 1px solid rgba(35, 49, 55, 0.19);
  background-color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

/* checked mark aspect */
.custom-checkbox:not(:checked) + label:after,
.custom-checkbox:checked + label:after {
  content: '\f00c';
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  top: 2px;
  width: 19px;
  height: 19px;
  font-size: 1em;
  line-height: 1;
  color: #fff;
  transition: all .2s;
  background-color: #5c980e;
  text-align: center; }

/* checked mark aspect changes */
.custom-checkbox:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

.custom-checkbox:checked + label:after {
  opacity: 1;
  transform: scale(1); }

/* disabled checkbox */
.custom-checkbox:disabled:not(:checked) + label:before,
.custom-checkbox:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd; }

.custom-checkbox:disabled:checked + label:after {
  color: #999; }

.custom-checkbox:disabled + label {
  color: #aaa; }

/* accessibility */
.custom-checkbox:checked:focus + label:before,
.custom-checkbox:not(:checked):focus + label:before {
  border: none; }

/* hover style just for information */
label:hover:before {
  border: 1px solid #5c980e !important; }

/*# sourceMappingURL=common.css.map */
