@mixin font-face($style-name, $font-name, $weight:normal, $style:normal) {
  $filepath: "../fonts/" + $font-name;
  @font-face {
    font-family: quote($style-name);
    src: /*url($filepath + ".eot")  format('embedded-opentype'),*/
    //url($filepath + ".ttf")  format('truetype'),
    //url($filepath + ".woff")  format('woff'),
    //url($filepath + ".svg")  format('svg'),
    url($filepath + ".otf")  format('opentype');
    font-weight: $weight;
    font-style: $style;
  }
}


@include font-face('Proxima Nova', 'ProximaNova-Bold', 700, normal);
@include font-face('Proxima Nova', 'ProximaNova-Regular', 400, normal);
@include font-face('Proxima Nova', 'ProximaNova-Light', 300, normal);
