@media (max-width: 480px) {

    #logo {
        left: 15px;
        margin: 5px 0 0 0px;
        width: 75px;
    }
    .col-search-cart {
        width: 280px;
        float: right;
    }
    .header .phone button {
        margin-top: 0px;
    }

    .about__row::before {
        display: none;
    }
}