@import 'fonts';

$mainSizeFonts: 16px;
$testColor: #233137;
$whiteColor: #fff;
$colorGreen: #5c980e;

@mixin font-ProximaNovaBold {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
}
@mixin font-ProximaNova {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
}
@mixin font-ProximaNovaLight {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
}

@function calculateRem($size) {
  $remSize: $size / $mainSizeFonts;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin lineHeight($size) {
  line-height: $size; //Fallback in px
  line-height: calculateRem($size);
}

@mixin transition($prop, $time, $fun) {
  -webkit-transition: $prop $time $fun;
  -moz-transition: $prop $time $fun;
  -ms-transition: $prop $time $fun;
  -o-transition: $prop $time $fun;
  transition: $prop $time $fun;
}
