@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
  color: inherit;
  border-color: inherit; }

.btn.active, .btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.bootstrap-select {
  display: inline-block;
  min-width: 198px;
  width: auto !important; }
  .bootstrap-select > .dropdown-toggle {
    max-width: none; }
  .bootstrap-select button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #ffffff none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    padding: 0;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 300;
    font-size: 18px;
    font-size: 1.125rem;
    color: #233137; }
    .bootstrap-select button .filter-option {
      width: auto;
      height: 28px;
      border: 1px solid rgba(35, 49, 55, 0.19);
      background: #ffffff none;
      padding: 0 !important; }
      .bootstrap-select button .filter-option .filter-option-inner {
        padding: 0 10px !important; }
      .bootstrap-select button .filter-option:hover, .bootstrap-select button .filter-option:focus {
        border: 1px solid rgba(35, 49, 55, 0.19);
        background: transparent none; }
    .bootstrap-select button:hover, .bootstrap-select button:focus {
      border: none;
      background: transparent none; }
    .bootstrap-select button i {
      font-size: 17px; }
  .bootstrap-select .dropdown-toggle:focus, .bootstrap-select .dropdown-toggle:hover {
    outline: none !important; }

.btn-green {
  width: auto;
  height: 46px;
  padding: 5px;
  background-color: #5c980e;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: none;
  text-align: center;
  -webkit-box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .btn-green span {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #5c980e;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-size: 0.875rem;
    color: #ffffff;
    text-transform: inherit;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; }
  .btn-green:hover {
    background-color: #64ad04;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .btn-green:hover span {
      background-color: #64ad04;
      border-color: transparent; }
  .btn-green.btn-green--single {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .btn-green.btn-green--single span {
      padding: 7px;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 18px;
      font-size: 1.125rem; }
  .btn-green.btn-green--form {
    display: block;
    margin: 10px auto 12px;
    height: 46px;
    width: 100%; }
    .btn-green.btn-green--form span {
      color: #fff;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 36px;
      line-height: 2.25rem;
      letter-spacing: 0.001em; }

.btn-orange {
  width: auto;
  height: 40px;
  min-width: 158px;
  line-height: 29px;
  padding: 5px;
  background-color: #fea31f;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: none;
  text-align: center;
  -webkit-box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .btn-orange span {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #fea31f;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-size: 0.875rem;
    color: #ffffff;
    text-transform: inherit;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; }
  .btn-orange:hover {
    background-color: #fea31f;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .btn-orange:hover span {
      background-color: #fea31f;
      border-color: transparent; }

.btn-sort {
  border: none;
  height: 29px;
  width: 29px;
  padding: 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .btn-sort i {
    color: #959595;
    font-size: 20px;
    line-height: 22px;
    text-align: center; }
  .btn-sort:hover i {
    color: #5c980e; }
  .btn-sort.active i {
    color: #5c980e; }

.button-cart {
  height: 40px;
  min-width: 128px;
  line-height: 29px;
  margin-left: 164px; }

#button-review {
  height: 40px;
  line-height: 16px;
  min-width: 150px; }

.btn-cancel {
  color: #233137;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  text-decoration: underline;
  margin-right: 25px; }
  .btn-cancel:hover {
    text-decoration: none; }

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
  color: inherit;
  border-color: inherit; }

.btn.active, .btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.bootstrap-select {
  display: inline-block;
  min-width: 198px;
  width: auto !important; }
  .bootstrap-select > .dropdown-toggle {
    max-width: none; }
  .bootstrap-select button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #ffffff none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    padding: 0;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 300;
    font-size: 18px;
    font-size: 1.125rem;
    color: #233137; }
    .bootstrap-select button .filter-option {
      width: auto;
      height: 28px;
      border: 1px solid rgba(35, 49, 55, 0.19);
      background: #ffffff none;
      padding: 0 !important; }
      .bootstrap-select button .filter-option .filter-option-inner {
        padding: 0 10px !important; }
      .bootstrap-select button .filter-option:hover, .bootstrap-select button .filter-option:focus {
        border: 1px solid rgba(35, 49, 55, 0.19);
        background: transparent none; }
    .bootstrap-select button:hover, .bootstrap-select button:focus {
      border: none;
      background: transparent none; }
    .bootstrap-select button i {
      font-size: 17px; }
  .bootstrap-select .dropdown-toggle:focus, .bootstrap-select .dropdown-toggle:hover {
    outline: none !important; }

.btn-green {
  width: auto;
  height: 46px;
  padding: 5px;
  background-color: #5c980e;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: none;
  text-align: center;
  -webkit-box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .btn-green span {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #5c980e;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-size: 0.875rem;
    color: #ffffff;
    text-transform: inherit;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; }
  .btn-green:hover {
    background-color: #64ad04;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .btn-green:hover span {
      background-color: #64ad04;
      border-color: transparent; }
  .btn-green.btn-green--single {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .btn-green.btn-green--single span {
      padding: 7px;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 18px;
      font-size: 1.125rem; }
  .btn-green.btn-green--form {
    display: block;
    margin: 10px auto 12px;
    height: 46px;
    width: 100%; }
    .btn-green.btn-green--form span {
      color: #fff;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 36px;
      line-height: 2.25rem;
      letter-spacing: 0.001em; }

.btn-orange {
  width: auto;
  height: 40px;
  min-width: 158px;
  line-height: 29px;
  padding: 5px;
  background-color: #fea31f;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: none;
  text-align: center;
  -webkit-box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .btn-orange span {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #fea31f;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-size: 0.875rem;
    color: #ffffff;
    text-transform: inherit;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; }
  .btn-orange:hover {
    background-color: #fea31f;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .btn-orange:hover span {
      background-color: #fea31f;
      border-color: transparent; }

.btn-sort {
  border: none;
  height: 29px;
  width: 29px;
  padding: 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .btn-sort i {
    color: #959595;
    font-size: 20px;
    line-height: 22px;
    text-align: center; }
  .btn-sort:hover i {
    color: #5c980e; }
  .btn-sort.active i {
    color: #5c980e; }

.button-cart {
  height: 40px;
  min-width: 128px;
  line-height: 29px;
  margin-left: 164px; }

#button-review {
  height: 40px;
  line-height: 16px;
  min-width: 150px; }

.btn-cancel {
  color: #233137;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  text-decoration: underline;
  margin-right: 25px; }
  .btn-cancel:hover {
    text-decoration: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

html {
  font-size: 16px; }

body {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  color: #233137;
  font-size: 16px;
  line-height: 20px;
  line-height: 1.25rem;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }
  @media screen and (max-width: 767px) {
    body {
      font-size: 14px; } }

img {
  width: 100%; }

ul {
  margin: 0;
  list-style: none; }

* {
  padding: 0;
  margin: 0;
  outline: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration-skip-ink: none; }
  *:hover {
    outline: 0 !important; }
  *:focus {
    outline: 0 !important; }

hr {
  display: block;
  width: 100%;
  margin: 0;
  border: 0;
  border-top: 1px solid #a7adaf; }

button:focus, a:focus {
  background: none;
  outline: 0 !important; }

/* Icons */
.icon-home {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url("../image/icons/home.svg") no-repeat; }

.icon-search {
  display: inline-block;
  height: 16px;
  width: 15px;
  background: url("../image/icons/icon-search.svg") no-repeat;
  opacity: .6; }

.icon-card {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #687275;
  margin-top: 5px; }
  .icon-card:after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: url("../image/icons/card.svg") no-repeat;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px; }

.icon-soc {
  display: inline-block;
  height: 45px;
  width: 45px;
  -webkit-background-size: cover;
  background-size: cover; }
  .icon-soc li {
    list-style: none; }
  .icon-soc.icon-vk {
    background: url("../image/icons/icon-vk.png");
    -webkit-background-size: cover;
    background-size: cover; }
  .icon-soc.icon-ok {
    background: url("../image/icons/icon-ok.png");
    -webkit-background-size: cover;
    background-size: cover; }
  .icon-soc.icon-instagram {
    background: url("../image/icons/icon-instagram.png");
    -webkit-background-size: cover;
    background-size: cover; }

.label-item {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 46px;
  height: 45px;
  padding-right: 4px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 32px;
  color: #ffffff;
  text-align: right;
  text-transform: uppercase;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
  .label-item--hit {
    background-image: url(../image/label-hits.png); }
  .label-item--news {
    background-image: url(../image/label-news.png); }

.text-big {
  text-transform: uppercase; }

.text-bold {
  font-weight: 700 !important; }
  .text-bold span {
    font-weight: inherit; }

.text-normal {
  font-weight: 400 !important; }
  .text-normal span {
    font-weight: inherit; }

.text-red {
  color: #c22142; }

.text-green {
  color: #5c980e; }

.text-right {
  text-align: right; }

.input-form {
  height: 35px;
  padding: 0 15px;
  margin-bottom: 6px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  font-size: 1rem;
  line-height: 36px;
  color: #898989;
  background: #fff;
  border: 1px solid rgba(35, 49, 55, 0.19); }
  .input-form[type="text"].form-control {
    font-size: 16px;
    font-size: 1rem; }

.textarea-form {
  padding: 0 15px;
  margin-bottom: 6px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 16px !important;
  line-height: 36px;
  color: #898989;
  background: #fff;
  border: 1px solid rgba(35, 49, 55, 0.19); }
  .textarea-form[type="text"].form-control {
    font-size: 16px;
    font-size: 1rem; }

#button_minus {
  width: 29px;
  height: 34px;
  margin-right: -4px;
  border: 1px solid rgba(35, 49, 55, 0.19);
  background: #f1f1f1 linear-gradient(to top, rgba(0, 0, 0, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
  border-right: none;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem; }

#button_plus {
  width: 29px;
  height: 34px;
  margin-left: -5px;
  border: 1px solid rgba(35, 49, 55, 0.19);
  background: #f1f1f1 linear-gradient(to top, rgba(0, 0, 0, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
  -webkit-border-bottom-right-radius: 100%;
  -moz-border-bottom-right-radius: 100%;
  border-bottom-right-radius: 100%;
  -webkit-border-top-right-radius: 100%;
  -moz-border-top-right-radius: 100%;
  border-top-right-radius: 100%;
  border-left: none;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem; }

#input-quantity {
  min-width: 40px;
  width: 40px;
  height: 34px;
  border: 1px solid rgba(35, 49, 55, 0.19);
  background: #fff;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 0 5px;
  text-align: center;
  border-right: none;
  border-left: none;
  box-shadow: inset 0 3px 4px rgba(35, 49, 55, 0.19); }

.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; }
  .scroll .item {
    display: inline-block;
    margin-right: 30px; }
    .scroll .item:last-child {
      margin-right: 0; }

.title-heading {
  display: block;
  position: relative;
  margin: 20px auto 52px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 44px;
  line-height: 2.75rem;
  color: #233137;
  text-transform: uppercase;
  text-align: center; }
  .title-heading span {
    display: inline-block;
    position: relative;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit; }
    .title-heading span:before {
      content: '';
      position: absolute;
      left: -116px;
      width: 100px;
      height: 44px;
      background: url("../image/title_bg_left.png") no-repeat;
      -webkit-background-size: cover;
      background-size: cover; }
    .title-heading span:after {
      content: '';
      position: absolute;
      right: -114px;
      width: 100px;
      height: 44px;
      background: url("../image/title_bg_right.png") no-repeat;
      -webkit-background-size: cover;
      background-size: cover; }
  .title-heading:before {
    content: '';
    position: absolute;
    top: 19px;
    left: 0;
    width: 27%;
    height: 1px;
    background-color: #a7adaf; }
  .title-heading:after {
    content: '';
    position: absolute;
    top: 19px;
    right: 0;
    width: 27%;
    height: 1px;
    background-color: #a7adaf; }
  @media screen and (max-width: 767px) {
    .title-heading {
      font-size: 26px; }
      .title-heading span:before {
        content: '';
        position: absolute;
        top: 5px;
        left: -85px;
        width: 70px;
        height: 30px; }
      .title-heading span:after {
        content: '';
        position: absolute;
        top: 5px;
        right: -85px;
        width: 70px;
        height: 30px; } }

.title-primary {
  display: block;
  position: relative;
  margin: 0 auto 34px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 36px;
  font-size: 2.25rem;
  color: #233137;
  text-transform: uppercase;
  text-align: left; }

.slick-slider {
  visibility: hidden; }
  .slick-slider.slick-initialized {
    visibility: visible; }

.box-heading {
  margin-bottom: 8px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  line-height: 2rem;
  color: #233137; }

/* Base for label styling */
.custom-checkbox:not(:checked),
.custom-checkbox:checked {
  position: absolute;
  left: -9999px; }

.custom-checkbox:not(:checked) + label,
.custom-checkbox:checked + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer; }

/* checkbox aspect */
.custom-checkbox:not(:checked) + label:before,
.custom-checkbox:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 19px;
  height: 19px;
  background-color: #ffffff; }

/* checked mark aspect */
.custom-checkbox:not(:checked) + label:after,
.custom-checkbox:checked + label:after {
  content: '\f00c';
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  top: 2px;
  width: 19px;
  height: 19px;
  font-size: 1em;
  line-height: 1;
  color: #fff;
  transition: all .2s;
  background-color: #5c980e;
  text-align: center; }

/* checked mark aspect changes */
.custom-checkbox:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

.custom-checkbox:checked + label:after {
  opacity: 1;
  transform: scale(1); }

/* disabled checkbox */
.custom-checkbox:disabled:not(:checked) + label:before,
.custom-checkbox:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd; }

.custom-checkbox:disabled:checked + label:after {
  color: #999; }

.custom-checkbox:disabled + label {
  color: #aaa; }

/* accessibility */
.custom-checkbox:checked:focus + label:before,
.custom-checkbox:not(:checked):focus + label:before {
  border: none; }

.reviewStars-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.reviewStars-input label i {
  color: rgba(35, 49, 55, 0.55);
  cursor: pointer;
  font-size: 24px;
  margin: 3px 0 3px; }

.reviewStars-input label:hover i {
  color: #fea31f; }

.reviewStars-input label:hover ~ label i {
  color: #fea31f; }

.reviewStars-input input {
  display: none; }

.reviewStars-input input:checked {
  color: #fea31f; }

.reviewStars-input input:checked ~ label i {
  color: #fea31f; }

.soc-icons {
  text-align: center; }
  .soc-icons li {
    display: inline-block;
    margin: 0 5px; }
    .soc-icons li a {
      display: block; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: #5c980e; }

.dropdown-menu li > a:hover {
  background: none;
  background-color: #5c980e; }

/* Top title*/
.top-line {
  background-color: #233137;
  border: none;
  padding: 0;
  margin: 0;
  height: 46px; }
  .top-line .top-links__home {
    display: inline-block;
    margin-top: 13px;
    padding-right: 18px; }
  .top-line .top-links__btn {
    margin-top: 13px;
    border: none;
    background: transparent none; }
    .top-line .top-links__btn i {
      font-size: 18px;
      color: #fff; }
  .top-line .top-links__menu {
    display: inline-block;
    margin: 0; }
    .top-line .top-links__menu li {
      display: inline-block;
      line-height: 46px;
      line-height: 2.875rem;
      min-height: 45px;
      padding: 0;
      margin-right: 35px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: relative; }
      .top-line .top-links__menu li a {
        display: block;
        color: #fff;
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 300;
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 45px;
        line-height: 2.8125rem;
        text-decoration: none;
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease; }
        .top-line .top-links__menu li a span {
          font-size: inherit;
          line-height: 18px;
          line-height: 1.125rem;
          display: inline-block;
          letter-spacing: 0.02rem; }
          .top-line .top-links__menu li a span:after {
            content: '';
            display: block;
            height: 1px;
            width: 0;
            background-color: #fff;
            opacity: .5;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
        .top-line .top-links__menu li a.active a {
          font-family: 'Proxima Nova', sans-serif;
          font-weight: 700; }
      .top-line .top-links__menu li:last-child {
        margin-right: 0; }
      .top-line .top-links__menu li:hover a {
        text-decoration: none; }
        .top-line .top-links__menu li:hover a span:after {
          width: 100%; }
    .top-line .top-links__menu.active {
      display: inline-block; }
  .top-line .nav {
    display: inline-block; }
  .top-line__search {
    text-align: center; }
    .top-line__search .search {
      height: 24px;
      position: relative;
      width: 100%;
      max-width: 263px;
      margin-top: 12px; }
      .top-line__search .search input {
        border: 1px solid rgba(255, 255, 255, 0.51);
        margin: 0;
        padding: 0 10px;
        height: 24px;
        width: 100%;
        line-height: 24px;
        color: #fff;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        font-size: 16px;
        font-size: 1rem;
        background-color: transparent;
        z-index: 1; }
      .top-line__search .search button {
        position: absolute;
        right: 0;
        height: 24px;
        line-height: 24px;
        background: none;
        border: none;
        padding: 4px 11px 4px 4px;
        -webkit-transition: background-color 0.3s ease;
        -moz-transition: background-color 0.3s ease;
        -ms-transition: background-color 0.3s ease;
        -o-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
        cursor: pointer;
        z-index: 2; }
        .top-line__search .search button:hover span {
          background: url("../image/icons/icon-search-hover.svg"); }
  .top-line__card {
    text-align: right; }
    .top-line__card .cart-title {
      display: inline-block;
      color: #fff;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 300;
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 26px;
      line-height: 1.625rem;
      vertical-align: top;
      padding-top: 10px; }
    .top-line__card #cart-total {
      color: #c22142;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 300;
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 26px;
      line-height: 1.625rem;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      vertical-align: top; }
      .top-line__card #cart-total button {
        color: #c22142;
        background: none;
        border: none;
        -webkit-transition: background-color 0.3s ease;
        -moz-transition: background-color 0.3s ease;
        -ms-transition: background-color 0.3s ease;
        -o-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
        cursor: pointer;
        z-index: 2;
        padding: 10px 10px 0;
        vertical-align: top; }
        .top-line__card #cart-total button:after {
          content: '';
          display: block;
          height: 1px;
          width: 0;
          background-color: #c22142;
          opacity: .5;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        .top-line__card #cart-total button:hover:after {
          width: 100%; }
  @media screen and (min-width: 992px) {
    .top-line .top-links__btn {
      display: none; }
    .top-line .top-links__menu {
      display: inline-block; } }
  @media screen and (max-width: 1199px) {
    .top-line .top-links__menu li {
      margin-right: 10px; } }
  @media screen and (max-width: 991px) {
    .top-line .top-links__home {
      padding-right: 18px; }
    .top-line .top-links__btn {
      border: none;
      background: transparent none;
      margin-right: 20px; }
      .top-line .top-links__btn i {
        font-size: 18px;
        color: #fff; }
    .top-line .top-links__menu {
      display: none;
      position: absolute;
      left: 0;
      top: 45px;
      width: 480px;
      background-color: #687275;
      z-index: 5;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .top-line .top-links__menu li {
        background-color: #687275;
        margin: 0;
        padding: 0 25px;
        height: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    .top-line .top-links .top-links {
      position: relative; }
    .top-line__search .search {
      max-width: 100%; } }
  @media (max-width: 767px) {
    .top-line {
      height: 90px; }
      .top-line__card {
        margin-top: 5px; }
      .top-line .top-links__menu {
        left: 0;
        top: 90px;
        padding-left: 10px;
        width: 365px; }
        .top-line .top-links__menu li {
          padding: 0 5px; } }

/* breadcrumb */
.breadcrumb {
  margin: 25px 0 39px 0;
  padding: 0;
  border: none;
  background: none; }
  .breadcrumb > li {
    text-shadow: 0 1px 0 #FFF;
    padding: 0 18px 0 0;
    position: relative;
    white-space: nowrap; }
    .breadcrumb > li a {
      color: #636363;
      text-decoration: underline; }
      .breadcrumb > li a:hover {
        text-decoration: none; }
    .breadcrumb > li span {
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 14px;
      font-size: 0.875rem;
      color: #636363; }
    .breadcrumb > li + li:before {
      content: '';
      padding: 0; }
    .breadcrumb > li:last-child:after {
      display: none; }
    .breadcrumb > li:after {
      content: '/';
      display: block;
      position: absolute;
      font-size: 14px;
      top: 0;
      right: 3px; }

.header {
  position: relative; }
  .header__wrap {
    position: relative;
    z-index: 2; }
  .header .owl-wrapper-outer {
    border: none; }
  .header .phone {
    position: absolute;
    right: 16px;
    text-align: right; }
    .header .phone #phone {
      display: block;
      margin-top: 38px;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 33px;
      line-height: 2.0625rem;
      color: #233137; }
    .header .phone button {
      width: 100%;
      max-width: 227px;
      margin-top: 15px; }
  @media screen and (max-width: 991px) {
    .header .phone #phone {
      font-size: 24px; } }
  @media screen and (max-width: 767px) {
    .header .phone #phone {
      margin-top: 10px; } }

/* logo */
#logo {
  position: absolute;
  left: 0;
  margin: 5px 0 0 27px; }
  @media screen and (max-width: 991px) {
    #logo {
      left: 17%;
      max-width: 120px; } }
  @media screen and (max-width: 767px) {
    #logo {
      left: 14%; } }

.nav-menu {
  min-height: 75px;
  background-color: #5c980e; }
  .nav-menu .navbar {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0; }
  .nav-menu .navbar-nav {
    display: flex; }
    .nav-menu .navbar-nav li {
      padding: 17px 25px 0;
      position: relative; }
      .nav-menu .navbar-nav li a {
        color: #ffffff;
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 400;
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 20px;
        line-height: 1.25rem;
        text-transform: uppercase;
        padding: 0 15px;
        min-height: 40px; }
        .nav-menu .navbar-nav li a:hover, .nav-menu .navbar-nav li a:focus {
          background-color: transparent;
          text-decoration: underline; }
      .nav-menu .navbar-nav li:last-child:after {
        display: none; }
      .nav-menu .navbar-nav li.dropdown {
        position: relative; }
        .nav-menu .navbar-nav li.dropdown a i {
          position: absolute;
          top: 5px;
          right: 0;
          font-size: 10px; }
        .nav-menu .navbar-nav li.dropdown:hover, .nav-menu .navbar-nav li.dropdown:focus {
          text-decoration: none;
          background-color: #64ad04; }
          .nav-menu .navbar-nav li.dropdown:hover a, .nav-menu .navbar-nav li.dropdown:focus a {
            text-decoration: underline;
            background-color: #64ad04; }
            .nav-menu .navbar-nav li.dropdown:hover a i, .nav-menu .navbar-nav li.dropdown:focus a i {
              top: 7px;
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              transform: rotate(180deg); }
            .nav-menu .navbar-nav li.dropdown:hover a:focus, .nav-menu .navbar-nav li.dropdown:focus a:focus {
              text-decoration: underline;
              background-color: transparent; }
          .nav-menu .navbar-nav li.dropdown:hover > a, .nav-menu .navbar-nav li.dropdown:focus > a {
            text-decoration: none;
            background-color: #64ad04;
            padding-bottom: 2px; }
            .nav-menu .navbar-nav li.dropdown:hover > a:after, .nav-menu .navbar-nav li.dropdown:focus > a:after {
              content: '';
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: rgba(0, 0, 0, 0.2);
              bottom: -5px;
              left: 0;
              z-index: 10; }
          .nav-menu .navbar-nav li.dropdown:hover:before, .nav-menu .navbar-nav li.dropdown:focus:before {
            content: '';
            position: absolute;
            left: -1px;
            top: 0;
            height: 100%;
            width: 1px;
            background-color: #5c980e; }
          .nav-menu .navbar-nav li.dropdown:hover:after, .nav-menu .navbar-nav li.dropdown:focus:after {
            display: none; }
        .nav-menu .navbar-nav li.dropdown:focus a {
          background-color: transparent; }
    .nav-menu .navbar-nav > li:after {
      content: '';
      position: absolute;
      top: 15px;
      right: 0;
      width: 1px;
      height: 40px;
      background-color: #99c53c;
      -webkit-box-shadow: 1px 0 0 #4e810c;
      -moz-box-shadow: 1px 0 0 #4e810c;
      box-shadow: 1px 0 0 #4e810c; }
  .nav-menu #menu .dropdown-menu {
    background-color: #64ad04;
    border: none;
    min-width: auto;
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 20px 20px 19px;
    z-index: 9;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .nav-menu #menu .dropdown-menu ul {
      display: block; }
      .nav-menu #menu .dropdown-menu ul li {
        display: block;
        padding: 0;
        margin-bottom: 7px; }
        .nav-menu #menu .dropdown-menu ul li a {
          font-family: 'Proxima Nova', sans-serif;
          font-weight: 400;
          font-size: 18px;
          font-size: 1.125rem;
          line-height: 28px;
          line-height: 1.75rem;
          padding: 10px 15px;
          text-decoration: underline;
          text-transform: none; }
          .nav-menu #menu .dropdown-menu ul li a:hover, .nav-menu #menu .dropdown-menu ul li a:focus {
            background: none;
            text-decoration: none;
            text-decoration-skip-ink: none;
            color: #b9ee75; }
  .nav-menu #menu .btn-navbar {
    font-size: 15px;
    font-stretch: expanded;
    color: #FFF;
    padding: 2px 18px;
    float: right;
    background: none;
    border: none;
    box-shadow: none; }
    .nav-menu #menu .btn-navbar i {
      font-size: 20px;
      color: #fff; }
  @media (min-width: 768px) {
    .nav-menu .navbar-toggle {
      display: block; } }
  @media screen and (min-width: 992px) {
    .nav-menu .navbar-toggle {
      display: none; }
    .nav-menu .navbar-collapse.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important; } }
  @media (max-width: 991px) {
    .nav-menu {
      min-height: 50px;
      max-width: none; }
      .nav-menu #menu {
        padding-top: 5px; }
      .nav-menu .navbar-nav {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 17;
        background-color: #5c980e; }
        .nav-menu .navbar-nav li a {
          background-color: #5c980e; }
      .nav-menu .navbar-collapse.collapse {
        display: none !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: hidden !important; } }

/* Main */
.main {
  background: url("../image/main-bg.png") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  margin-top: 50px; }

.banner-home {
  height: 330px;
  position: relative;
  margin-bottom: 48px; }
  .banner-home .btn-green {
    position: absolute;
    top: 76.5%;
    right: 25.5%;
    z-index: 1;
    width: 100%;
    max-width: 140px;
    height: 36px; }
    .banner-home .btn-green span {
      line-height: 26px; }
  @media screen and (max-width: 1199px) {
    .banner-home .btn-green {
      top: 52.5%;
      right: 18%; } }
  @media screen and (max-width: 991px) {
    .banner-home {
      text-align: center;
      margin-bottom: 30px;
      height: auto; }
      .banner-home .btn-green {
        top: 76.5%;
        right: 25.5%; } }

.banner-form {
  background-color: #e2e0e3;
  max-width: 360px;
  margin: 0 auto;
  padding: 10px; }
  .banner-form__block {
    padding: 15px 20px 11px;
    border: 1px solid rgba(35, 49, 55, 0.19); }
  .banner-form p {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 22px;
    line-height: 1.375rem;
    color: #233137;
    margin-bottom: 5px; }
  .banner-form span {
    display: block;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 22px;
    line-height: 1.375rem;
    letter-spacing: 0.01rem;
    color: #c22142;
    margin-bottom: 11px; }
  .banner-form .form-text {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 14px;
    line-height: 0.875rem;
    color: #636363;
    margin: 0; }
  @media screen and (max-width: 991px) {
    .banner-form {
      margin-bottom: 30px; } }

/* category module */
.category-module {
  margin-bottom: 20px;
  text-align: center; }
  .category-module .item {
    display: inline-block;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 30px; }
  .category-module__title {
    display: inline-block;
    position: absolute;
    bottom: 0;
    max-width: 300px;
    padding: 28px 40px 21px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 30px;
    line-height: 1.875rem;
    text-transform: uppercase;
    color: #636363;
    text-align: left; }
    .category-module__title:after {
      content: '';
      display: block;
      height: 1px;
      width: 0;
      background-color: #636363;
      opacity: .5;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .category-module__title:hover {
      color: #636363; }
      .category-module__title:hover:after {
        width: 100%; }

.products {
  margin-bottom: 45px; }
  .products__item {
    display: inline-block;
    position: relative;
    background-color: #fff;
    border: 1px solid rgba(35, 49, 55, 0.19);
    text-align: center;
    margin-right: 29px;
    margin-bottom: 30px;
    max-width: 263px; }
    .products__item.product-thumb {
      width: 100%;
      max-width: none;
      margin-right: 0;
      margin-bottom: 23px; }
    .products__item .caption {
      padding: 15px 14px 20px;
      white-space: normal; }
    .products__item .image a {
      display: block; }
    .products__item h4 {
      margin: 0 0 10px;
      min-height: 46px; }
      .products__item h4 a {
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 700;
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 22px;
        line-height: 1.375rem;
        text-decoration: underline;
        color: #233137; }
        .products__item h4 a:hover {
          text-decoration: none; }
    .products__item .button-group {
      text-align: right;
      padding: 0 1px; }
      .products__item .button-group a {
        margin-top: 8px;
        float: left;
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 400;
        font-size: 16px;
        font-size: 1rem;
        line-height: 25px;
        line-height: 1.5625rem;
        text-decoration: underline;
        color: #233137; }
        .products__item .button-group a:hover {
          color: #5c980e; }
      .products__item .button-group button {
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 700;
        font-size: 16px;
        font-size: 1rem;
        line-height: 30px;
        line-height: 1.875rem;
        color: #fff;
        height: 40px;
        width: 128px; }
  .products__price {
    display: block;
    min-height: 56px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 28px;
    line-height: 1.75rem;
    color: #5c980e; }
    .products__price-new {
      display: block;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 700;
      font-size: 24px;
      font-size: 1.5rem;
      color: #c22142; }
    .products__price-old {
      display: block;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 18px;
      font-size: 1.125rem;
      color: #898989;
      text-decoration: line-through; }

.bestselller--scroll {
  height: 514px; }

.newsletter--scroll {
  height: 514px; }

.about {
  margin: 60px 0 0;
  padding: 66px 0 150px;
  background: url("../image/about_bg_bottom.png") no-repeat, url("../image/about_bg.png") no-repeat 0 40px;
  -webkit-background-size: cover;
  background-size: cover; }
  .about h3 {
    margin-bottom: 40px; }
  .about__row {
    position: relative;
    z-index: 2; }
    .about__row:before {
      content: '';
      position: absolute;
      left: -175px;
      bottom: -4%;
      width: 552px;
      height: 588px;
      background: url("../image/about__teddy.png") no-repeat;
      z-index: -1; }
    .about__row:after {
      content: '';
      position: absolute;
      right: 60px;
      bottom: 21%;
      width: 212px;
      height: 219px;
      background: url("../image/about__bg_rose.png") no-repeat;
      z-index: 3; }
  .about__content {
    position: relative;
    max-width: 750px;
    width: 100%;
    margin: auto;
    padding: 40px 41px 42px;
    background-color: #fff;
    -webkit-box-shadow: 3px 4px 16px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 3px 4px 16px rgba(0, 0, 0, 0.28);
    box-shadow: 3px 4px 16px rgba(0, 0, 0, 0.28);
    z-index: 2; }
    .about__content a {
      color: #5c980e; }
      .about__content a:hover {
        text-decoration: underline; }
    .about__content p {
      margin-bottom: 25px;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 300;
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 24px;
      line-height: 1.5rem;
      color: #233137; }
    .about__content h5 {
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 700;
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 22px;
      line-height: 1.375rem;
      margin-bottom: 5px;
      color: #233137; }
    .about__content ul li {
      position: relative;
      margin-bottom: 6px;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 300;
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 24px;
      line-height: 1.5rem;
      list-style: none;
      text-indent: 20px; }
      .about__content ul li::before {
        content: "";
        position: absolute;
        left: 1px;
        top: 10px;
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: #5c980e;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%; }
  @media screen and (max-width: 1199px) {
    .about__row:after {
      display: none; } }

.feedback {
  position: relative;
  padding: 142px 0 162px;
  margin-bottom: 50px;
  background: url("../image/feedback_bg.png") no-repeat bottom;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center; }
  .feedback-form {
    position: relative;
    background-color: rgba(226, 224, 227, 0.8);
    padding: 10px;
    width: 100%;
    max-width: 750px;
    margin: auto;
    z-index: 1; }
    .feedback-form__block {
      padding: 23px 20px 34px;
      border: 1px solid rgba(35, 49, 55, 0.19); }
    .feedback-form p {
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 36px;
      line-height: 2.25rem;
      margin-bottom: 8px; }
    .feedback-form span {
      display: block;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 700;
      font-size: 24px;
      font-size: 1.5rem;
      margin-bottom: 25px; }
    .feedback-form .form-text {
      display: block;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 20px;
      line-height: 1.25rem;
      margin-bottom: 10px; }
    .feedback-form a {
      display: block;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 18px;
      font-size: 1.125rem;
      margin-bottom: 2px;
      color: #5c980e;
      text-decoration: underline; }
      .feedback-form a:hover {
        text-decoration: none; }
    .feedback-form form {
      width: 100%;
      max-width: 360px;
      margin: 0 auto 40px; }
    .feedback-form:before {
      content: '';
      position: absolute;
      left: -325px;
      bottom: -156px;
      background: url("../image/feedback_girl.png") no-repeat;
      z-index: 2;
      width: 477px;
      height: 464px; }
  @media screen and (max-width: 991px) {
    .feedback-form:before {
      display: none; } }
  @media screen and (max-width: 767px) {
    .feedback {
      padding: 50px 0 50px; } }

.block-news {
  margin-bottom: 60px; }
  .block-news__list {
    min-height: 195px;
    margin-bottom: 40px; }
    .block-news__list img {
      width: auto; }
  .block-news__item {
    display: inline-block;
    padding: 0;
    width: 32.3%;
    margin-right: 15px;
    vertical-align: top; }
    .block-news__item .name {
      margin-top: -2px;
      margin-bottom: 8px; }
      .block-news__item .name a {
        color: #233137;
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 700;
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 20px;
        line-height: 1.25rem;
        text-decoration: underline; }
        .block-news__item .name a:hover {
          text-decoration: none; }
    .block-news__item .description {
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 300;
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 20px;
      line-height: 1.25rem;
      color: #233137;
      margin-bottom: 3px; }
    .block-news__item .blog-button {
      display: block;
      text-align: left; }
      .block-news__item .blog-button a {
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 300;
        font-size: 14px;
        color: #5c980e; }
        .block-news__item .blog-button a:hover {
          font-family: 'Proxima Nova', sans-serif;
          font-weight: 700; }
  .block-news__image {
    display: inline-block;
    max-width: 114px;
    width: 114px; }
    .block-news__image a {
      display: block;
      width: 114px; }
  .block-news__info {
    display: inline-block;
    padding-left: 17px;
    vertical-align: top;
    white-space: normal;
    width: 65%; }
  .block-news .view-all {
    text-align: center; }
    .block-news .view-all a {
      display: inline-block;
      margin: auto;
      color: #5c980e;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 18px;
      font-size: 1.125rem;
      text-decoration: underline; }
      .block-news .view-all a:hover {
        text-decoration: none; }
  @media screen and (max-width: 991px) {
    .block-news__item {
      width: 49%; } }
  @media screen and (max-width: 767px) {
    .block-news__item {
      width: 99%; } }

/* news page */
.bnews {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-bottom: 75px; }
  .bnews-list {
    margin-bottom: 0;
    padding-bottom: 2px;
    border-bottom: 1px solid #a7adaf; }
    .bnews-list .artblock {
      margin-bottom: 53px;
      display: inline-block;
      padding: 0 15px;
      clear: none; }
      .bnews-list .artblock__title {
        margin-bottom: 7px; }
        .bnews-list .artblock__title.name a {
          font-family: 'Proxima Nova', sans-serif;
          font-weight: 700;
          font-size: 18px;
          font-size: 1.125rem;
          line-height: 24px;
          line-height: 1.5rem;
          color: #233137;
          text-decoration: underline; }
          .bnews-list .artblock__title.name a:hover {
            text-decoration: none; }
      .bnews-list .artblock__description.description {
        display: block;
        min-height: 120px;
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 300;
        font-size: 16px;
        font-size: 1rem;
        line-height: 24px;
        line-height: 1.5rem;
        color: #233137; }
        .bnews-list .artblock__description.description p {
          font-family: 'Proxima Nova', sans-serif;
          font-weight: 300;
          font-size: 16px;
          font-size: 1rem;
          line-height: 24px;
          line-height: 1.5rem;
          color: #233137; }
      .bnews-list .artblock__image {
        margin-bottom: 11px; }
        .bnews-list .artblock__image a {
          position: relative;
          display: inline-block;
          max-height: 205px;
          height: 205px; }
        .bnews-list .artblock__image .date {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 103px;
          padding: 0 15px;
          background-color: #fea31f;
          font-family: 'Proxima Nova', sans-serif;
          font-weight: 400;
          line-height: 24px;
          line-height: 1.5rem;
          color: #fff; }
        .bnews-list .artblock__image img {
          width: auto; }
      .bnews-list .artblock__btn-category {
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 400;
        font-size: 16px;
        font-size: 1rem;
        line-height: 24px;
        text-decoration: underline;
        color: #233137;
        text-decoration-style: dashed;
        float: right; }
        .bnews-list .artblock__btn-category:hover {
          text-decoration: none; }
      .bnews-list .artblock__read-more {
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 700;
        font-size: 16px;
        font-size: 1rem;
        line-height: 24px;
        line-height: 1.5rem;
        text-decoration: underline;
        color: #5c980e; }
  .bnews__category-list {
    margin-bottom: 37px;
    border-bottom: 1px solid #a7adaf; }
    .bnews__category-list li {
      display: inline-block;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 700;
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 29px;
      line-height: 1.8125rem;
      margin-left: 15px;
      padding-bottom: 14px; }
      .bnews__category-list li a {
        display: inline-block;
        padding: 0 32px;
        border: 1px solid #5c980e;
        color: #5c980e;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        line-height: 29px;
        line-height: 1.8125rem; }
        .bnews__category-list li a:hover {
          background-color: #5c980e;
          color: #fff; }
      .bnews__category-list li.active {
        color: #233137;
        border: 0;
        margin-left: 0;
        margin-right: 13px;
        float: left; }
  @media screen and (max-width: 1199px) {
    .bnews .artblock__image img {
      width: 100%; } }
  @media (max-width: 767px) {
    .bnews .artblock__image img {
      width: auto; }
    .bnews .artblock__image a {
      margin: auto; } }

.newsletter {
  position: relative;
  text-align: center;
  padding: 100px 0 90px;
  background: url("../image/newsletter_bg.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
  .newsletter-form {
    position: relative;
    background-color: rgba(226, 224, 227, 0.61);
    padding: 10px;
    width: 100%;
    max-width: 750px;
    margin: auto;
    z-index: 1; }
    .newsletter-form__block {
      padding: 23px 20px 32px;
      border: 1px solid rgba(35, 49, 55, 0.19); }
    .newsletter-form p {
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 700;
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 33px;
      line-height: 2.0625rem;
      margin-bottom: 23px;
      color: #c22142; }
    .newsletter-form span {
      display: block;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 700;
      font-size: 24px;
      font-size: 1.5rem;
      margin-bottom: 25px; }
    .newsletter-form .form-text {
      display: block;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 17px;
      line-height: 1.0625rem;
      margin-bottom: 10px;
      color: #707070;
      padding: 0 68px;
      text-align: left; }
    .newsletter-form a {
      display: block;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 18px;
      font-size: 1.125rem;
      margin-bottom: 2px;
      color: #5c980e;
      text-decoration: underline; }
      .newsletter-form a:hover {
        text-decoration: none; }
    .newsletter-form form {
      width: 100%;
      max-width: 360px;
      margin: 0 auto 30px; }
    .newsletter-form input {
      font-size: 16px; }
  .newsletter .input-form {
    margin-bottom: 8px; }
  @media screen and (max-width: 991px) {
    .newsletter-form {
      background-color: rgba(226, 224, 227, 0.81); } }

.jspScrollable .jspContainer {
  height: 500px;
  width: 100% !important; }
.jspScrollable .jspHorizontalBar {
  height: 10px;
  background-color: transparent; }
.jspScrollable .jspTrack {
  height: 6px;
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100% !important; }
.jspScrollable .jspDrag {
  top: -3px;
  width: 2px;
  height: 10px;
  background-color: #5c980e;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  .jspScrollable .jspDrag:after {
    content: '';
    position: absolute;
    top: 1px;
    right: 50%;
    width: 16px;
    height: 8px;
    margin-right: -8px;
    background: url("../image/btn_bg.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    opacity: 0.73; }

/* Category page */
.category {
  margin: 0 0 53px; }
  .category__btn {
    margin-bottom: 16px; }
  .category .btn-sort {
    margin-right: 12px; }

.seo-block {
  margin-bottom: 60px; }
  .seo-block h4 {
    margin: 0 0 26px; }
  .seo-block p {
    color: #233137;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 300;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    margin-bottom: 24px; }
  .seo-block img {
    margin-top: 7px; }

.pagination li {
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  margin-right: 5px; }
  .pagination li span {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 36px;
    height: 36px; }
  .pagination li.active span {
    background: #5c980e;
    border: 1px solid #5c980e;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400; }
    .pagination li.active span:hover, .pagination li.active span:focus {
      background: #5c980e;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: 1px solid #5c980e; }
  .pagination li:first-child span {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #5c980e; }
    .pagination li:first-child span:hover, .pagination li:first-child span:focus {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%; }
  .pagination li:last-child span {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #5c980e; }
    .pagination li:last-child span:hover, .pagination li:last-child span:focus {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%; }
  .pagination li a {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid transparent;
    text-decoration: underline;
    color: #5c980e;
    height: 36px;
    width: 36px;
    padding: 0;
    line-height: 36px; }
    .pagination li a.prev, .pagination li a.next {
      width: auto;
      padding: 0 10px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px; }
      .pagination li a.prev:hover, .pagination li a.prev:focus, .pagination li a.next:hover, .pagination li a.next:focus {
        color: #5c980e;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        border: 1px solid #5c980e; }
    .pagination li a:hover, .pagination li a:focus {
      color: #5c980e;
      background-color: transparent;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: 1px solid #5c980e; }

.navigation-panel {
  margin-bottom: 76px; }

#input-limit.js-select {
  width: 90px; }

.input-limit.bootstrap-select {
  width: 90px !important;
  margin: 24px 0; }

/* Footer */
.footer {
  -webkit-background-size: cover;
  background-size: cover;
  padding: 30px 0;
  background: url("../image/footer_bg.jpg") no-repeat; }
  .footer__logo {
    text-align: center;
    padding-top: 17px;
    margin-bottom: 37px; }
    .footer__logo a {
      position: relative;
      display: block;
      max-width: 213px;
      max-height: 216px;
      margin: auto;
      right: -10px; }
  .footer__menu {
    position: relative;
    margin-top: 30px;
    padding: 0; }
    .footer__menu li {
      display: block;
      padding: 0;
      height: 36px; }
      .footer__menu li a {
        display: inline-block;
        color: #ffffff;
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 400;
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 20px;
        line-height: 1.25rem;
        text-decoration: none; }
        .footer__menu li a:after {
          content: '';
          display: block;
          height: 1px;
          width: 0;
          background-color: #fff;
          opacity: .5;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        .footer__menu li a:hover:after {
          width: 100%; }
    .footer__menu--hr {
      margin-top: 45px;
      padding-bottom: 34px; }
      .footer__menu--hr:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        max-width: 263px;
        background-color: #fff;
        opacity: .6; }
  .footer .footer__about-us {
    text-align: right;
    color: #ffffff;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    margin-top: 54px; }
    .footer .footer__about-us h5 {
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 700;
      font-size: 18px;
      font-size: 1.125rem;
      color: inherit;
      margin-bottom: 22px; }
    .footer .footer__about-us .address {
      display: inline-block;
      position: relative;
      line-height: 22px;
      line-height: 1.375rem;
      margin-bottom: 50px; }
      .footer .footer__about-us .address:before {
        content: '';
        position: absolute;
        left: 60px;
        top: -1px;
        width: 16px;
        height: 24px;
        background: url("../image/icons/icon-marker.svg") no-repeat;
        -webkit-background-size: cover;
        background-size: cover; }
    .footer .footer__about-us .phone {
      display: inline-block;
      position: relative;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 22px;
      line-height: 1.375rem;
      margin-bottom: 44px; }
      .footer .footer__about-us .phone:before {
        content: '';
        position: absolute;
        left: -27px;
        top: 0;
        width: 18px;
        height: 18px;
        background: url("../image/icons/icon-phone.svg") no-repeat;
        -webkit-background-size: cover;
        background-size: cover; }
    .footer .footer__about-us .email {
      display: inline-block;
      position: relative;
      line-height: 22px;
      line-height: 1.375rem;
      margin-bottom: 43px; }
      .footer .footer__about-us .email:before {
        content: '';
        position: absolute;
        left: -30px;
        top: 6px;
        width: 19px;
        height: 12px;
        background: url("../image/icons/icon-email.svg") no-repeat;
        -webkit-background-size: cover;
        background-size: cover; }
  .footer .footer__we-work {
    text-align: right;
    color: #ffffff;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem; }
    .footer .footer__we-work h5 {
      position: relative;
      display: block;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 700;
      font-size: 18px;
      font-size: 1.125rem;
      color: inherit;
      margin: 0 0 24px; }
    .footer .footer__we-work .address {
      position: relative;
      display: inline-block; }
      .footer .footer__we-work .address:before {
        content: '';
        position: absolute;
        left: 24px;
        top: 0;
        width: 20px;
        height: 20px;
        background: url("../image/icons/icon-clock.svg") no-repeat;
        -webkit-background-size: cover;
        background-size: cover; }
  .footer .btn-box {
    text-align: right;
    margin-top: 35px; }
    .footer .btn-box .btn-green {
      width: 227px;
      height: 46px; }
  .footer hr {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    margin-top: 68px; }
  .footer .copyright {
    margin-top: 32px; }
    .footer .copyright .terms-of-agreement {
      display: block;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 12px;
      font-size: 0.75rem;
      text-decoration: underline;
      color: #abeda1;
      text-align: left; }
      .footer .copyright .terms-of-agreement:hover {
        text-decoration: none; }
    .footer .copyright__info {
      display: block;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 400;
      font-size: 12px;
      font-size: 0.75rem;
      color: #abeda1;
      text-align: right; }
  @media (max-width: 767px) {
    .footer {
      background: url("../image/footer_mob_bg.jpg") no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position-x: center; }
      .footer__menu {
        margin-top: 0; }
        .footer__menu--hr {
          margin-top: 0; }
          .footer__menu--hr:after {
            display: none; }
      .footer .footer__about-us {
        text-align: center;
        margin-top: 30px; }
        .footer .footer__about-us .address {
          margin-bottom: 20px; }
          .footer .footer__about-us .address:before {
            left: 0; }
        .footer .footer__about-us .phone {
          margin-bottom: 20px; }
        .footer .footer__about-us .email {
          margin-bottom: 20px; }
      .footer .footer__we-work {
        text-align: center;
        margin-top: 20px; }
        .footer .footer__we-work .address:before {
          left: 0; }
      .footer .btn-box {
        text-align: center;
        margin-top: 20px; }
      .footer hr {
        margin-top: 30px; }
      .footer .copyright__info {
        text-align: center; }
      .footer .copyright .terms-of-agreement {
        text-align: center;
        margin-bottom: 10px; }
      .footer__logo a {
        max-width: 145px; } }

label[for="input-sort"], label[for="input-limit"] {
  background: none;
  border-top: none;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  color: #233137;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 5px;
  margin-right: 27px;
  vertical-align: top; }

#input-sort, [data-id="input-sort"] {
  width: 198px;
  height: 28px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-size: 1.125rem;
  color: #233137;
  float: right;
  max-width: 198px; }
  #input-sort:hover, #input-sort:focus, [data-id="input-sort"]:hover, [data-id="input-sort"]:focus {
    border: 1px solid rgba(35, 49, 55, 0.19);
    background: #ffffff none; }

.input-sort .bs-caret {
  display: block;
  position: absolute;
  top: 2px;
  right: 1px;
  width: 24px;
  height: 24px;
  background-color: #5c980e;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center; }
  .input-sort .bs-caret i {
    color: #fff; }

#input-limit {
  width: 88px;
  height: 28px;
  border: 1px solid rgba(35, 49, 55, 0.19);
  background-color: #ffffff;
  padding: 0 12px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #233137;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-size: 1.125rem;
  float: right; }

.mfilter-box {
  background: url("../image/fillter_bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  padding: 20px; }
  .mfilter-box .mfilter-price {
    margin-bottom: 8px; }
  .mfilter-box .mfilter-heading {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
    cursor: inherit; }
    .mfilter-box .mfilter-heading .mfilter-heading-text {
      background: none;
      border-top: none;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 700;
      font-size: 18px;
      font-size: 1.125rem;
      color: #233137;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  .mfilter-box .mfilter-price-slider {
    padding: 0 auto 5px !important;
    margin-right: 0 !important; }
    .mfilter-box .mfilter-price-slider #mfilter-price-slider .ui-slider-handle {
      margin-left: -18px !important; }
  .mfilter-box .mfilter-content > ul > li {
    margin-bottom: 10px; }
  .mfilter-box .mfilter-heading-content {
    padding: 5px 0 5px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .mfilter-box .mfilter-opts-container {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .mfilter-box .mfilter-content {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .mfilter-box #mfilter-opts-price-min, .mfilter-box #mfilter-opts-price-max {
    display: inline-block;
    min-width: 71px;
    height: 28px;
    border: 1px solid rgba(35, 49, 55, 0.19);
    background-color: #ffffff;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 300;
    font-size: 16px;
    font-size: 1rem;
    color: #898989;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-top: 15px; }
  .mfilter-box #mfilter-opts-price-min {
    width: 71px;
    margin-right: 12px; }
  .mfilter-box #mfilter-opts-price-max {
    width: 92px; }
  .mfilter-box .mfilter-content .mfilter-option label {
    color: #233137;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 300;
    font-size: 18px;
    font-size: 1.125rem;
    border: none; }
  .mfilter-box .mfilter-content .mfilter-option .mfilter-tb-as-td {
    display: block;
    width: 100%; }
  .mfilter-box .mfilter-tb-as-td {
    border: 0; }
  .mfilter-box .mfilter-filter-item .mfilter-options {
    padding: 0; }
  .mfilter-box .mfilter-price-inputs span {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem; }
  .mfilter-box .box-heading {
    margin: 0 0 10px; }

.mfilter-price-slider {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important; }
  .mfilter-price-slider #mfilter-price-slider {
    margin: 7px auto 0 auto !important;
    -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
    background: #fff none !important;
    height: 6px !important;
    border: none !important;
    width: 90%; }
    .mfilter-price-slider #mfilter-price-slider .ui-slider-range {
      height: 6px;
      background: #5c980e none !important;
      -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
      -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
      box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18); }
    .mfilter-price-slider #mfilter-price-slider .ui-slider-handle {
      width: 35px !important;
      height: 18px !important;
      top: -6px;
      background: #5c980e none !important;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
      .mfilter-price-slider #mfilter-price-slider .ui-slider-handle:after {
        content: '';
        position: absolute;
        width: 16px;
        height: 8px;
        top: 5px;
        left: 10px;
        background-image: url("../image/range_btn.png"); }

/* products card */
.card-info {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 32px;
  line-height: 2rem; }
  .card-info b {
    display: inline-block;
    width: 160px; }
  .card-info p {
    margin-bottom: 16px; }
  .card-info label {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 32px;
    line-height: 2rem;
    margin-bottom: 15px; }
  .card-info__attribute {
    margin-bottom: 44px; }
    .card-info__attribute div {
      vertical-align: top;
      display: inline-block;
      line-height: 24px; }
  .card-info .price span {
    display: inline-block; }
  .card-info .products__price-new {
    font-size: 30px;
    font-size: 1.875rem;
    color: #5c980e; }
  .card-info .products__price-old {
    font-size: 24px;
    font-size: 1.5rem;
    margin-right: 30px; }
  .card-info .soc-icons {
    text-align: left;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(35, 49, 55, 0.19); }
    .card-info .soc-icons li {
      padding: 0;
      margin: 0; }
      .card-info .soc-icons li a span {
        width: 24px;
        height: 24px; }
  .card-info__quantity {
    margin-top: 25px; }
  .card-info .form-group {
    margin-bottom: 2px; }

.rating {
  display: inline-block;
  position: relative;
  width: 100%; }
  .rating .fa-stack {
    font-size: 10px;
    width: 25px;
    height: 22px;
    line-height: 11px; }
  .rating .fa-star {
    color: rgba(35, 49, 55, 0.55);
    font-size: 24px; }
    .rating .fa-star.star-orange {
      color: #fea31f; }
  .rating a {
    color: #233137;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 32px;
    line-height: 2rem;
    vertical-align: top;
    padding-left: 85px;
    text-decoration: underline; }
  .rating p {
    position: relative; }
    .rating p:after {
      content: '';
      position: absolute;
      left: 0;
      top: 25px;
      height: 1px;
      width: 100%;
      background-color: rgba(35, 49, 55, 0.19); }

.sku {
  position: relative;
  margin-bottom: 20px; }
  .sku p:after {
    content: '';
    position: absolute;
    left: 0;
    top: 25px;
    height: 1px;
    width: 100%;
    background-color: rgba(35, 49, 55, 0.19); }

.thumbnails .thumbnail {
  padding: 0;
  border: 1px solid rgba(35, 49, 55, 0.19);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 17px; }
  .thumbnails .thumbnail img {
    width: auto; }
  .thumbnails .thumbnail.active, .thumbnails .thumbnail:focus, .thumbnails .thumbnail:hover {
    border-color: #5c980e; }

.nav-tabs-wrap {
  -webkit-background-size: cover;
  background-size: cover;
  margin: 50px 0; }

.tab-content {
  border-top: none; }
  .tab-content .tab-pane {
    border: 1px solid #bdc1c3;
    border-top: none;
    padding: 25px;
    background: #fff url("../image/review_bg.jpg");
    background-position-y: -47px; }
    .tab-content .tab-pane#tab-review {
      position: absolute;
      z-index: 9;
      width: 100%; }

.nav-tabs {
  padding: 0;
  border-bottom: 1px solid #bdc1c3;
  background-color: #fff; }
  .nav-tabs li {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 300; }
    .nav-tabs li a {
      text-decoration: underline;
      color: #233137;
      padding: 0 31px;
      line-height: 45px;
      line-height: 2.8125rem; }
      .nav-tabs li a:hover {
        -webkit-border-top-left-radius: 20px;
        -moz-border-top-left-radius: 20px;
        border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-top-right-radius: 20px;
        border-top-right-radius: 20px; }
    .nav-tabs li.active {
      color: #233137;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 700;
      font-size: 18px;
      font-size: 1.125rem; }
      .nav-tabs li.active a {
        border: 1px solid #bdc1c3;
        border-bottom-color: transparent;
        text-decoration: none;
        color: #233137;
        -webkit-border-top-left-radius: 20px;
        -moz-border-top-left-radius: 20px;
        border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-top-right-radius: 20px;
        border-top-right-radius: 20px; }
        .nav-tabs li.active a[href="#tab-review"] {
          background-image: url("../image/review_tab_bg.jpg");
          background-position-y: 0;
          background-position-x: -138px; }
        .nav-tabs li.active a[href="#tab-description"] {
          background-image: url("../image/review_tab_bg.jpg");
          background-position-y: 0;
          background-position-x: 0px; }
        .nav-tabs li.active a:hover {
          border: 1px solid #bdc1c3;
          border-bottom-color: transparent;
          text-decoration: none;
          color: #233137;
          -webkit-border-top-left-radius: 20px;
          -moz-border-top-left-radius: 20px;
          border-top-left-radius: 20px;
          -webkit-border-top-right-radius: 20px;
          -moz-border-top-right-radius: 20px;
          border-top-right-radius: 20px; }

#review .table > tbody > tr > td, #review .table > tbody > tr > th, #review .table > tfoot > tr > td, #review .table > tfoot > tr > th, #review .table > thead > tr > td, #review .table > thead > tr > th {
  padding: 0;
  border: 0; }

.review__date {
  color: #898989;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem; }
.review__text {
  color: #233137;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem;
  background: #ececec;
  padding: 19px 20px;
  margin-bottom: 0; }
.review strong {
  color: #233137;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-right: 20px; }
.review .rating {
  float: right; }
  .review .rating .fa-stack {
    font-size: 10px;
    width: 26px; }
  .review .rating .fa-star {
    font-size: 24px; }

.review-guest {
  border: 1px solid #a1a1a1;
  padding: 21px 29px 28px 40px;
  background: #ececec; }
  .review-guest .control-label {
    display: inline-block;
    color: #898989;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 300;
    font-size: 16px;
    font-size: 1rem;
    width: 110px;
    text-align: left; }
  .review-guest #input-name {
    max-width: 352px;
    height: 35px;
    border: 1px solid rgba(35, 49, 55, 0.19);
    background-color: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .review-guest textarea {
    border: 1px solid rgba(35, 49, 55, 0.19);
    background-color: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 90px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .review-guest .form-group {
    margin-bottom: 5px; }

.faq-section {
  background: url("../image/main-bg.png");
  margin-bottom: 95px; }

.faq-item {
  position: relative;
  padding: 0 40px 27px;
  margin-bottom: 30px;
  border: 1px solid rgba(35, 49, 55, 0.19); }
  .faq-item:after {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 33px;
    width: 100%;
    bottom: -34px;
    left: 0; }

.faq-question {
  position: relative; }
  .faq-question:before {
    content: '';
    position: absolute;
    width: 49px;
    height: 49px;
    top: -8px;
    left: -29px;
    background: url("../image/icons/smile-1.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover; }
  .faq-question__title {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 36px;
    line-height: 2.25rem;
    color: #233137;
    padding-left: 40px; }

.faq-answer {
  padding: 23px 40px;
  background: #ececec;
  position: relative; }
  .faq-answer:before {
    content: '';
    position: absolute;
    width: 53px;
    height: 45px;
    top: 23px;
    left: -29px;
    background: url("../image/icons/smile-2.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover; }
  .faq-answer__text {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 300;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 21px;
    line-height: 1.3125rem;
    color: #233137;
    display: block;
    white-space: normal; }

.contacts-us .title-primary {
  margin-bottom: 8px; }
.contacts-us__info {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 23px;
  line-height: 1.4375rem;
  color: #233137;
  margin-bottom: 40px; }
  .contacts-us__info a {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit; }
    .contacts-us__info a[href^="mailto"] {
      text-decoration: underline; }
      .contacts-us__info a[href^="mailto"]:hover {
        text-decoration: none; }
  .contacts-us__info p {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit; }
  .contacts-us__info .col-sm-3 {
    padding-left: 60px; }
  .contacts-us__info h3 {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 36px;
    line-height: 2.25rem;
    color: #233137;
    margin-bottom: 10px; }
.contacts-us-phone {
  display: inline-block;
  position: relative; }
  .contacts-us-phone:before {
    content: '';
    display: block;
    position: absolute;
    left: -45px;
    top: 2px;
    width: 32px;
    height: 32px;
    background: #5c980e url("../image/icons/icon-phone.svg") no-repeat center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-background-size: auto;
    background-size: auto; }
.contacts-us-address {
  display: inline-block;
  position: relative; }
  .contacts-us-address:before {
    content: '';
    display: block;
    position: absolute;
    left: -45px;
    top: 2px;
    width: 32px;
    height: 32px;
    background: #5c980e url("../image/icons/icon-marker.svg") no-repeat center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-background-size: auto;
    background-size: auto; }
.contacts-us-time {
  display: inline-block;
  position: relative; }
  .contacts-us-time:before {
    content: '';
    display: block;
    position: absolute;
    left: -45px;
    top: 2px;
    width: 32px;
    height: 32px;
    background: #5c980e url("../image/icons/icon-clock.svg") no-repeat center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-background-size: auto;
    background-size: auto; }
.contacts-us-email {
  display: inline-block;
  position: relative; }
  .contacts-us-email:before {
    content: '';
    display: block;
    position: absolute;
    left: -45px;
    top: 2px;
    width: 32px;
    height: 32px;
    background: #5c980e url("../image/icons/icon-email.svg") no-repeat center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-background-size: auto;
    background-size: auto; }
.contacts-us .map {
  height: 370px;
  margin-bottom: 84px; }
  .contacts-us .map #map {
    height: 100%; }
.contacts-us__feedback {
  max-width: 750px;
  margin: 0 auto 95px;
  position: relative;
  background-color: #e8e6e9;
  padding: 10px;
  z-index: 3; }
  .contacts-us__feedback:before {
    content: '';
    position: absolute;
    top: 24px;
    left: -202px;
    width: 679px;
    height: 331px;
    background: url("../image/contacts-us__feedback.png") no-repeat;
    z-index: -2; }
  .contacts-us__feedback-block {
    border: 1px solid rgba(35, 49, 55, 0.19);
    padding: 14px 65px 40px;
    z-index: 10; }
  .contacts-us__feedback form {
    z-index: 10; }
  .contacts-us__feedback .form-group {
    margin-bottom: 23px; }
  .contacts-us__feedback textarea {
    max-height: 115px;
    resize: none;
    font-size: 16px;
    font-size: 1rem; }
  .contacts-us__feedback h4 {
    display: block;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 36px;
    line-height: 2.25rem;
    margin-bottom: 13px;
    text-align: center;
    z-index: 10; }
.contacts-us .btn-green {
  max-width: 285px;
  margin: auto;
  z-index: 10; }

.modal .modal-dialog {
  -webkit-background-size: cover;
  background-size: cover;
  max-width: 360px;
  margin: 0 auto;
  padding: 10px;
  -webkit-box-shadow: 0 11px 16px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0 11px 16px rgba(0, 0, 0, 0.51);
  box-shadow: 0 11px 16px rgba(0, 0, 0, 0.51);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: url("../image/modal_bg.jpg") no-repeat; }
.modal .modal-header {
  text-align: center; }
.modal .modal-content {
  padding: 15px 20px 138px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: none; }
  .modal .modal-content .form-group {
    margin: 0; }
  .modal .modal-content input {
    height: 35px;
    padding: 0 15px;
    margin-bottom: 6px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    font-size: 1rem;
    line-height: 36px;
    color: #898989;
    background: #fff;
    border: 1px solid rgba(35, 49, 55, 0.19); }
    .modal .modal-content input[type="text"].form-control {
      font-size: 16px;
      font-size: 1rem; }
.modal .modal-footer {
  padding: 0; }
.modal p {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem;
  color: #233137;
  margin-bottom: 5px; }
.modal span {
  display: block;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem;
  letter-spacing: 0.01rem;
  color: #c22142;
  margin-bottom: 11px; }
.modal .form-text {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 14px;
  line-height: 0.875rem;
  color: #636363;
  margin: 0; }
@media screen and (max-width: 991px) {
  .modal {
    margin-bottom: 30px; } }

.search-page {
  padding-bottom: 40px; }
  .search-page .category_id button {
    height: 35px;
    line-height: 34px; }
    .search-page .category_id button .bs-caret {
      height: 31px; }
  .search-page .btn-green {
    height: 40px; }
    .search-page .btn-green span {
      line-height: 26px;
      padding: 0 15px; }
  .search-page .btn-sort {
    margin-right: 10px; }
  .search-page .input-limit.bootstrap-select {
    margin: 0; }

/*# sourceMappingURL=styles.css.map */
