@import 'mixins';
@import 'fonts';
@import 'buttons';
@import 'common';

/* Top title*/
.top-line {
  background-color: $testColor;
  border: none;
  padding: 0;
  margin: 0;
  height: 46px;

  .top-links {
    &__home {
      display: inline-block;
      margin-top: 13px;
      padding-right: 18px;
    }
    &__btn {
      margin-top: 13px;
      border:none;
      background: transparent none;
      i {
        font-size: 18px;
        color: #fff;
      }
    }
    &__menu {
      display: inline-block;
      margin: 0;
      li {
        display: inline-block;
        @include lineHeight(46px);
        min-height: 45px;
        padding: 0;
        margin-right: 35px;
        @include transition(all, .3s, ease);
        position: relative;
        a {
          display: block;
          color: #fff;
          @include font-ProximaNovaLight;
          @include fontSize(18px);
          @include lineHeight(45px);
          text-decoration: none;
          @include transition(all, .6s, ease);
          span {
            font-size: inherit;
            @include lineHeight(18px);
            display: inline-block;
            letter-spacing: 0.02rem;
            &:after {
              content: '';
              display: block;
              height: 1px;
              width: 0;
              background-color: #fff;
              opacity: .5;
              @include transition(all, .3s, ease-in-out);
            }
          }
          &.active {
            a {
              @include font-ProximaNovaBold;
            }
          }
        }
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          a {
            text-decoration: none;
            span {
              &:after {
                width: 100%;
              }
            }
          }
        }
      }
      &.active {
        display: inline-block;
      }
    }
  }

  .nav {
    display: inline-block;
  }
  &__search {
    text-align: center;
    .search {
      height: 24px;
      position: relative;
      width: 100%;
      max-width: 263px;
      margin-top: 12px;
      input {
        border: 1px solid rgba(255, 255, 255, 0.51);
        margin: 0;
        padding: 0 10px;
        height: 24px;
        width: 100%;
        line-height: 24px;
        color: #fff;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        @include fontSize(16px);
        background-color: transparent;
        z-index: 1;
      }
      button {
        position: absolute;
        right: 0;
        height: 24px;
        line-height: 24px;
        background: none;
        border: none;
        padding: 4px 11px 4px 4px;
        @include transition(background-color, .3s, ease);
        cursor: pointer;
        z-index: 2;
        &:hover {
          span {
            background: url("../image/icons/icon-search-hover.svg");
          }
        }
      }
    }
  }
  &__card {
    text-align: right;
    .cart-title {
      display: inline-block;
      color: #fff;
      @include font-ProximaNovaLight;
      @include fontSize(18px);
      @include lineHeight(26px);
      vertical-align: top;
      padding-top: 10px;
    }
    #cart-total {
      color: #c22142;
      @include font-ProximaNovaLight;
      @include fontSize(18px);
      @include lineHeight(26px);
      @include transition(all, .3s, ease);
      vertical-align: top;
      button {
        color: #c22142;
        background: none;
        border: none;
        @include transition(background-color, .3s, ease);
        cursor: pointer;
        z-index: 2;
        padding: 10px 10px 0;
        vertical-align: top;
        &:after {
          content: '';
          display: block;
          height: 1px;
          width: 0;
          background-color: #c22142;
          opacity: .5;
          @include transition(all, .3s, ease-in-out);
        }
        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
  @media screen and (min-width: 992px) {
    .top-links {
      &__btn {
        display: none;
      }
      &__menu {
        display: inline-block;
      }
    }
  }
  @media screen and (max-width: 1199px) {
    .top-links {
      &__menu {
        li {
          margin-right: 10px;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    .top-links {
      &__home {
        padding-right: 18px;
      }
      &__btn {
        border:none;
        background: transparent none;
        margin-right: 20px;
        i {
          font-size: 18px;
          color: #fff;
        }
      }
      &__menu {
        display: none;
        position: absolute;
        left: 0;
        top: 45px;
        width: 480px;
        background-color: #687275;
        z-index: 5;
        @include transition(all, .3s, ease);
        li {
          background-color: #687275;
          margin: 0;
          padding: 0 25px;
          height: 0;
          @include transition(all, .3s, ease);
          a {

          }
        }
        &.active {
          li {
          }
        }
      }
      .top-links {
        position: relative;
      }
    }
    &__search {
      .search {
        max-width: 100%;
      }
    }
  }
  @media (max-width: 767px) {
    height: 90px;
    &__card {
      margin-top: 5px;
    }
    .top-links {
      &__menu {
        left: 0;
        top: 90px;
        padding-left: 10px;
        width: 365px;
        li {
          padding: 0 5px;
        }
      }
    }
  }
}
/* breadcrumb */
.breadcrumb {
  margin: 25px 0 39px 0;
  padding: 0;
  border: none;
  background: none;
  & > li {
    text-shadow: 0 1px 0 #FFF;
    padding: 0 18px 0 0;
    position: relative;
    white-space: nowrap;
    a {
      color: #636363;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    span {
      @include font-ProximaNova;
      @include fontSize(14px);
      color: #636363;
    }
    & + li:before {
      content: '';
      padding: 0;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    &:after {
      content: '/';
      display: block;
      position: absolute;
      font-size: 14px;
      top: 0;
      right: 3px;
    }
  }
}

.header {
  position: relative;
  &__wrap {
    position: relative;
    z-index: 2;
  }
  .owl-wrapper-outer {
    border: none;
  }
  .phone {
    position: absolute;
    right: 16px;
    text-align: right;
    #phone {
      display: block;
      margin-top: 38px;
      @include font-ProximaNova;
      @include fontSize(30px);
      @include lineHeight(33px);
      color: $testColor;
    }
    button {
      width: 100%;
      max-width: 227px;
      margin-top: 15px;
    }
  }
  @media (min-width: 575px) {

  }
  @media screen and (min-width: 768px) {

  }
  @media screen and (min-width: 992px) {

  }
  @media screen and (min-width: 1200px) {

  }
  @media screen and (max-width: 1199px) {

  }
  @media screen and (max-width: 991px) {
    .phone {
      #phone {
        font-size: 24px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .phone {
      #phone {
        margin-top: 10px;
      }
    }
  }
  @media (max-width: 767px) {

  }
  @media (max-width: 574px) {

  }
}

/* logo */
#logo {
  position: absolute;
  left: 0;
  margin: 5px 0 0 27px;
  @media screen and (max-width: 991px) {
    left: 17%;
    max-width: 120px;
  }
  @media screen and (max-width: 767px) {
    left: 14%;
  }
}

// Nav menu
.nav-menu {
  min-height: 75px;
  background-color: $colorGreen;
  .navbar {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
  }
  .navbar-nav {
      display: flex;
    li {
      padding: 17px 25px 0;
      position: relative;
      a {
        color: #ffffff;
        @include font-ProximaNova;
        @include fontSize(18px);
        @include lineHeight(20px);
        text-transform: uppercase;
        padding: 0 15px;
        min-height: 40px;
        &:hover, &:focus {
          background-color: transparent;
          text-decoration: underline;
        }
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      &.dropdown {
        position: relative;
        a {
          i {
            position: absolute;
            top: 5px;
            right: 0;
            font-size: 10px;
          }
        }
        &:hover, &:focus {
          text-decoration: none;
          background-color: #64ad04;
          a {
            text-decoration: underline;
            background-color: #64ad04;
            i {
              top: 7px;
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              transform: rotate(180deg);
            }
            &:focus {
              text-decoration: underline;
              background-color: transparent;
            }
          }
          & > a {
            text-decoration: none;
            background-color: #64ad04;
            padding-bottom: 2px;
            &:after {
              content: '';
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: rgba(0,0,0, .2);
              bottom: -5px;
              left: 0;
              z-index: 10;
            }
          }
          &:before {
            content: '';
            position: absolute;
            left: -1px;
            top: 0;
            height: 100%;
            width: 1px;
            background-color: $colorGreen;
          }
          &:after {
            display: none;
          }
        }
        &:focus {
          a {
            background-color: transparent;
          }
        }
      }
    }
    & > li:after {
      content: '';
      position: absolute;
      top: 15px;
      right: 0;
      width: 1px;
      height: 40px;
      background-color: #99c53c;
      -webkit-box-shadow: 1px 0 0 #4e810c;
      -moz-box-shadow: 1px 0 0 #4e810c;
      box-shadow: 1px 0 0 #4e810c;
    }
  }
  #menu {
    .dropdown-menu {
      background-color: #64ad04;
      border: none;
      min-width: auto;
      width: 100%;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      padding: 20px 20px 19px;
      z-index: 9;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      ul {
        display: block;
        li {
          display: block;
          padding: 0;
          margin-bottom: 7px;
          a {
            @include font-ProximaNova;
            @include fontSize(18px);
            @include lineHeight(28px);
            padding: 10px 15px;
            text-decoration: underline;
            text-transform: none;
            &:hover, &:focus {
              background: none;
              text-decoration: none;
              text-decoration-skip-ink: none;
              color: #b9ee75;
            }
          }
        }
      }
    }
    .btn-navbar {
      font-size: 15px;
      font-stretch: expanded;
      color: #FFF;
      padding: 2px 18px;
      float: right;
      background: none;
      border: none;
      box-shadow: none;
      i {
        font-size: 20px;
        color: $whiteColor;
      }
    }
  }

  @media (min-width: 768px) {
    .navbar-toggle {
      display: block;
    }
  }
  @media screen and (min-width: 992px) {
    .navbar-toggle {
      display: none;
    }
    .navbar-collapse.collapse {
      display: block!important;
      height: auto!important;
      padding-bottom: 0;
      overflow: visible!important;
    }
  }
  @media (max-width: 991px) {
    #menu {
      padding-top: 5px;
    }
    min-height: 50px;
    max-width: none;
    .navbar-nav {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 17;
      background-color: $colorGreen;
      li {
        a {
          background-color: $colorGreen;
        }
      }
    }
    .navbar-collapse.collapse {
      display: none!important;
      height: auto!important;
      padding-bottom: 0;
      overflow: hidden!important;
    }
  }

}

/* Main */
.main {
  background: url("../image/main-bg.png") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  margin-top: 50px;
}
.banner-home {
  height: 330px;
  position: relative;
  margin-bottom: 48px;
  .btn-green {
    position: absolute;
    top: 76.5%;
    right: 25.5%;
    z-index: 1;
    width: 100%;
    max-width: 140px;
    height: 36px;
    span {
      line-height: 26px;
    }
  }
  @media screen and (max-width: 1199px) {
   .btn-green {
     top: 52.5%;
     right: 18%;
   }
  }
  @media screen and (max-width: 991px) {
    text-align: center;
    margin-bottom: 30px;
    height: auto;
   .btn-green {
     top: 76.5%;
     right: 25.5%;
   }
  }
}
.banner-form {
  background-color: #e2e0e3;
  max-width: 360px;
  margin: 0 auto;
  padding: 10px;
  &__block {
    padding: 15px 20px 11px;
    border: 1px solid rgba(35, 49, 55, 0.19);
  }
  p {
    @include font-ProximaNova;
    @include fontSize(18px);
    @include lineHeight(22px);
    color: $testColor;
    margin-bottom: 5px;
  }
  span {
    display: block;
    @include font-ProximaNova;
    @include fontSize(18px);
    @include lineHeight(22px);
    letter-spacing: 0.01rem;
    color: #c22142;
    margin-bottom: 11px;
  }
  .form-text {
    @include font-ProximaNova;
    @include fontSize(12px);
    @include lineHeight(14px);
    color: #636363;
    margin: 0;
  }
  @media screen and (max-width: 991px) {
    margin-bottom: 30px;
  }
}

/* category module */
.category-module {
  margin-bottom: 20px;
  text-align: center;
  .item {
    display: inline-block;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 30px;
  }
  &__title {
    display: inline-block;
    position: absolute;
    bottom: 0;
    max-width: 300px;
    padding: 28px 40px 21px;
    @include font-ProximaNova;
    @include fontSize(24px);
    @include lineHeight(30px);
    text-transform: uppercase;
    color: #636363;
    text-align: left;
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 0;
      background-color: #636363;
      opacity: .5;
      @include transition(all, .2s, ease-in-out);
    }
    &:hover {
      color: #636363;
        &:after {
          width: 100%;
        }
    }
  }
  &__image {

  }
}
.products {
  margin-bottom: 45px;
  &__item {
    display: inline-block;
    position: relative;
    background-color: #fff;
    border: 1px solid rgba(35, 49, 55, 0.19);
    text-align: center;
    margin-right: 29px;
    margin-bottom: 30px;
    max-width: 263px;
    &.product-thumb {
      width: 100%;
      max-width: none;
      margin-right: 0;
      margin-bottom: 23px;
    }
    .caption {
      padding: 15px 14px 20px;
      white-space: normal;
    }
    .image {
      a {
        display: block;
      }
    }
    h4 {
      margin: 0 0 10px;
      min-height: 46px;
      a {
        @include font-ProximaNovaBold;
        @include fontSize(18px);
        @include lineHeight(22px);
        text-decoration: underline;
        color: $testColor;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .button-group {
      text-align: right;
      padding: 0 1px;
      a {
        margin-top: 8px;
        float: left;
        @include font-ProximaNova;
        @include fontSize(16px);
        @include lineHeight(25px);
        text-decoration: underline;
        color: $testColor;
        &:hover {
          color: $colorGreen;
        }
      }
      button {
        @include font-ProximaNovaBold;
        @include fontSize(16px);
        @include lineHeight(30px);
        color: #fff;
        height: 40px;
        width: 128px;
      }
    }
  }
  &__price {
    display: block;
    min-height: 56px;
    @include font-ProximaNovaBold;
    @include fontSize(24px);
    @include lineHeight(28px);
    color: $colorGreen;
    &-new {
      display: block;
      @include font-ProximaNovaBold;
      @include fontSize(24px);
      color: #c22142;
    }
    &-old {
      display: block;
      @include font-ProximaNova;
      @include fontSize(18px);
      color: #898989;
      text-decoration: line-through;
    }
  }
}
.bestselller--scroll {
  height: 514px;
}
.newsletter--scroll {
  height: 514px;
}
.about {
  margin: 60px 0 0;
  padding: 66px 0 150px;
  background: url("../image/about_bg_bottom.png") no-repeat, url("../image/about_bg.png") no-repeat 0 40px;
  -webkit-background-size: cover;
  background-size: cover;
  h3 {
    margin-bottom: 40px;
  }
  &__row {
    position: relative;
    z-index: 2;
    &:before {
      content: '';
      position: absolute;
      left: -175px;
      bottom: -4%;
      width: 552px;
      height: 588px;
      background: url("../image/about__teddy.png") no-repeat;
      z-index: -1;
    }
    &:after {
      content: '';
      position: absolute;
      right: 60px;
      bottom: 21%;
      width: 212px;
      height: 219px;
      background: url("../image/about__bg_rose.png") no-repeat;
      z-index: 3;
    }
  }
  &__content {
    position: relative;
    max-width: 750px;
    width: 100%;
    margin: auto;
    padding: 40px 41px 42px;
    background-color: #fff;
    -webkit-box-shadow: 3px 4px 16px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 3px 4px 16px rgba(0, 0, 0, 0.28);
    box-shadow: 3px 4px 16px rgba(0, 0, 0, 0.28);
    z-index: 2;
    a {
      color: $colorGreen;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      margin-bottom: 25px;
      @include font-ProximaNovaLight;
      @include fontSize(18px);
      @include lineHeight(24px);
      color: $testColor;
    }
    h5 {
      @include font-ProximaNovaBold;
      @include fontSize(18px);
      @include lineHeight(22px);
      margin-bottom: 5px;
      color: $testColor;
    }
    ul {
      li {
        position: relative;
        margin-bottom: 6px;
        @include font-ProximaNovaLight;
        @include fontSize(18px);
        @include lineHeight(24px);
        list-style: none;
        text-indent: 20px;
        &::before {
          content: "";
          position: absolute;
          left: 1px;
          top: 10px;
          display: inline-block;
          width: 6px;
          height: 6px;
          background-color: $colorGreen;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
        }
      }
    }
  }
  @media screen and (max-width: 1199px) {
    &__row {
      &:after {
        display: none;
      }
    }
  }
  @media screen and (max-width: 991px) {

  }
}
.feedback {
  position: relative;
  padding: 142px 0 162px;
  margin-bottom: 50px;
  background: url("../image/feedback_bg.png") no-repeat bottom;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  &-form {
    position: relative;
    background-color: rgba(226, 224, 227, 0.8);
    padding: 10px;
    width: 100%;
    max-width: 750px;
    margin: auto;
    z-index: 1;
    &__block {
      padding: 23px 20px 34px;
      border: 1px solid rgba(35, 49, 55, 0.19);
    }
    p {
      @include font-ProximaNova;
      @include fontSize(24px);
      @include lineHeight(36px);
      margin-bottom: 8px;
    }
    span {
      display: block;
      @include font-ProximaNovaBold;
      @include fontSize(24px);
      margin-bottom: 25px;
    }
    .form-text {
      display: block;
      @include font-ProximaNova;
      @include fontSize(18px);
      @include lineHeight(20px);
      margin-bottom: 10px;
    }
    a {
      display: block;
      @include font-ProximaNova;
      @include fontSize(18px);
      margin-bottom: 2px;
      color: $colorGreen;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    form {
      width: 100%;
      max-width: 360px;
      margin: 0 auto 40px;
    }
    &:before {
      content: '';
      position: absolute;
      left: -325px;
      bottom: -156px;
      background: url("../image/feedback_girl.png") no-repeat;
      z-index: 2;
      width: 477px;
      height: 464px;
    }
  }
  @media screen and (max-width: 991px) {
    &-form {
      &:before {
        display: none;
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding: 50px 0 50px;
  }
}
.block-news {
  margin-bottom: 60px;
  &__list {
    min-height: 195px;
    margin-bottom: 40px;
    img {
      width: auto;
    }
  }
  &__item {
    display: inline-block;
    padding: 0;
    width: 32.3%;
    margin-right: 15px;
    vertical-align: top;
    .name {
      margin-top: -2px;
      margin-bottom: 8px;
      a {
        color: $testColor;
        @include font-ProximaNovaBold;
        @include fontSize(18px);
        @include lineHeight(20px);
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .description {
      @include font-ProximaNovaLight;
      @include fontSize(14px);
      @include lineHeight(20px);
      color: $testColor;
      margin-bottom: 3px;
    }
    .blog-button {
      display: block;
      text-align: left;
      a {
        @include font-ProximaNovaLight;
        font-size: 14px;
        color: $colorGreen;
        &:hover {
          @include font-ProximaNovaBold;
        }
      }
    }
  }
  &__image {
    display: inline-block;
    max-width: 114px;
    width: 114px;
    a {
      display: block;
      width: 114px;
    }
  }
  &__info {
    display: inline-block;
    padding-left: 17px;
    vertical-align: top;
    white-space: normal;
    width: 65%;
  }
  .view-all {
    text-align: center;
    a {
      display: inline-block;
      margin: auto;
      color: $colorGreen;
      @include font-ProximaNova;
      @include fontSize(18px);
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  @media screen and (max-width: 991px) {
    &__item {
      width: 49%;
    }
  }
  @media screen and (max-width: 767px) {
    &__item {
      width: 99%;
    }
  }
}

/* news page */
.bnews {
  @include font-ProximaNovaLight;
  @include fontSize(16px);
  @include lineHeight(24px);
  margin-bottom: 75px;
  &-list {
    margin-bottom: 0;
    padding-bottom: 2px;
    border-bottom: 1px solid #a7adaf;
    .artblock {
      margin-bottom: 53px;
      display: inline-block;
      padding: 0 15px;
      clear: none;
      &__title {
        margin-bottom: 7px;
        &.name {
          a {
            @include font-ProximaNovaBold;
            @include fontSize(18px);
            @include lineHeight(24px);
            color: $testColor;
            text-decoration: underline;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      &__description {
        &.description {
          display: block;
          min-height: 120px;
          @include font-ProximaNovaLight;
          @include fontSize(16px);
          @include lineHeight(24px);
          color: $testColor;
          p {
            @include font-ProximaNovaLight;
            @include fontSize(16px);
            @include lineHeight(24px);
            color: $testColor;
          }
        }
      }
      &__image {
        margin-bottom: 11px;
        a {
          position: relative;
          display: inline-block;
          max-height: 205px;
          height: 205px;
        }
        .date {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 103px;
          padding: 0 15px;
          background-color: #fea31f;
          @include font-ProximaNova;
          @include lineHeight(24px);
          color: #fff;
        }
        img {
          width: auto;
        }
      }
      &__btn-category {
        @include font-ProximaNova;
        @include fontSize(16px);
        line-height: 24px;
        text-decoration: underline;
        color: $testColor;
        text-decoration-style: dashed;
        float: right;
        &:hover {
          text-decoration: none;
        }
      }
      &__read-more {
        @include font-ProximaNovaBold;
        @include fontSize(16px);
        @include lineHeight(24px);
        text-decoration: underline;
        color: $colorGreen;
      }
    }
  }
  &__category-list {
    margin-bottom: 37px;
    border-bottom: 1px solid #a7adaf;
    li {
      display: inline-block;
      @include font-ProximaNovaBold;
      @include fontSize(18px);
      @include lineHeight(29px);
      margin-left: 15px;
      padding-bottom: 14px;
      a {
        display: inline-block;
        padding: 0 32px;
        border: 1px solid $colorGreen;
        color: $colorGreen;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        @include lineHeight(29px);
        &:hover {
          background-color: $colorGreen;
          color: #fff;
        }
      }
      &.active {
        color: $testColor;
        border: 0;
        margin-left: 0;
        margin-right: 13px;
        float: left;
      }
    }

  }
  @media screen and (max-width: 1199px){
    .artblock__image {
      img {
        width: 100%;
      }
    }
  }
  @media (max-width: 767px){
    .artblock__image {
      img {
        width: auto;
      }
      a {
        margin: auto;
      }
    }
  }
}
.newsletter {
  position: relative;
  text-align: center;
  padding: 100px 0 90px;
  background: url("../image/newsletter_bg.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  &-form {
    position: relative;
    background-color: rgba(226, 224, 227, 0.61);
    padding: 10px;
    width: 100%;
    max-width: 750px;
    margin: auto;
    z-index: 1;
    &__block {
      padding: 23px 20px 32px;
      border: 1px solid rgba(35, 49, 55, 0.19);
    }
    p {
      @include font-ProximaNovaBold;
      @include fontSize(24px);
      @include lineHeight(33px);
      margin-bottom: 23px;
      color: #c22142;
    }
    span {
      display: block;
      @include font-ProximaNovaBold;
      @include fontSize(24px);
      margin-bottom: 25px;
    }
    .form-text {
      display: block;
      @include font-ProximaNova;
      @include fontSize(14px);
      @include lineHeight(17px);
      margin-bottom: 10px;
      color: #707070;
      padding: 0 68px;
      text-align: left;
    }
    a {
      display: block;
      @include font-ProximaNova;
      @include fontSize(18px);
      margin-bottom: 2px;
      color: $colorGreen;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    form {
      width: 100%;
      max-width: 360px;
      margin: 0 auto 30px;
    }
    input {
      font-size: 16px;
    }
  }
  .input-form {
    margin-bottom: 8px;
  }
  @media screen and (max-width: 991px) {
    &-form {
      background-color: rgba(226, 224, 227, 0.81);
    }
  }
}
.jspScrollable {
  .jspContainer {
    height: 500px;
    width: 100% !important;
  }
  .jspHorizontalBar {
    height: 10px;
    background-color: transparent;
  }
  .jspTrack{
    height: 6px;
    -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
    background-color: #ebebeb;
     -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%!important;
  }
  .jspDrag{
    top: -3px;
    width: 2px;
    height: 10px;
    background-color: $colorGreen;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    &:after {
      content: '';
      position: absolute;
      top: 1px;
      right: 50%;
      width: 16px;
      height: 8px;
      margin-right: -8px;
      background: url("../image/btn_bg.png") no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      opacity: 0.73;
    }
  }
}

/* Category page */
.category {
  margin: 0 0 53px;
  &__btn {
    margin-bottom: 16px;
  }
  .btn-sort {
    margin-right: 12px;
  }
}
.seo-block {
  margin-bottom: 60px;
  h4 {
    margin: 0 0 26px;
  }
  p {
    color: #233137;
    @include font-ProximaNovaLight;
    @include fontSize(18px);
    line-height: 24px;
    margin-bottom: 24px;
  }
  img {
    margin-top: 7px;
  }
}
.pagination {
  li {
    display: inline-block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    margin-right: 5px;
    span {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      width: 36px;
      height: 36px;
    }
    &.active {
      span {
        background: $colorGreen;
        border: 1px solid $colorGreen;
        @include font-ProximaNova;
        &:hover, &:focus {
          background: $colorGreen;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          border: 1px solid $colorGreen;
        }
      }
    }
    &:first-child {
      span {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 1px solid $colorGreen;
        &:hover, &:focus {
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
        }
      }
    }
    &:last-child {
      span {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 1px solid $colorGreen;
        &:hover, &:focus {
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
        }
      }
    }
    a {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: 1px solid transparent;
      text-decoration: underline;
      color: $colorGreen;
      height: 36px;
      width: 36px;
      padding: 0;
      line-height: 36px;
      &.prev, &.next {
        width: auto;
        padding: 0 10px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        &:hover, &:focus {
          color: $colorGreen;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          border-radius: 25px;
          border: 1px solid $colorGreen;
        }
      }
      &:hover, &:focus {
        color: $colorGreen;
        background-color: transparent;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 1px solid $colorGreen;
      }
    }
  }
}
.navigation-panel {
  margin-bottom: 76px;
}
#input-limit.js-select {
  width: 90px;
}
.input-limit.bootstrap-select {
  width: 90px!important;
  margin: 24px 0;
}
/* Footer */
.footer {
  -webkit-background-size: cover;
  background-size: cover;
  padding: 30px 0;
  background: url("../image/footer_bg.jpg") no-repeat;
  &__logo {
    text-align: center;
    padding-top: 17px;
    margin-bottom: 37px;
    a {
      position: relative;
      display: block;
      max-width: 213px;
      max-height: 216px;
      margin: auto;
      right: -10px;
    }
  }
  &__menu {
    position: relative;
    margin-top: 30px;
    padding: 0;
    li {
      display: block;
      padding: 0;
      height: 36px;
      a {
        display: inline-block;
        color: #ffffff;
        @include font-ProximaNova;
        @include fontSize(18px);
        @include lineHeight(20px);
        text-decoration: none;
        &:after {
          content: '';
          display: block;
          height: 1px;
          width: 0;
          background-color: #fff;
          opacity: .5;
          @include transition(all, .3s, ease-in-out);
        }
        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }
    &--hr {
      margin-top: 45px;
      padding-bottom: 34px;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        max-width: 263px;
        background-color: #fff;
        opacity: .6;
      }
    }
  }
  .footer__about-us {
    text-align: right;
    color: #ffffff;
    @include font-ProximaNova;
    @include fontSize(18px);
    margin-top: 54px;
    h5 {
      @include font-ProximaNovaBold;
      @include fontSize(18px);
      color: inherit;
      margin-bottom: 22px;
    }
    .address {
      display: inline-block;
      position: relative;
      @include lineHeight(22px);
      margin-bottom: 50px;
      &:before {
        content: '';
        position: absolute;
        left: 60px;
        top: -1px;
        width: 16px;
        height: 24px;
        background: url("../image/icons/icon-marker.svg") no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }
    }
    .phone {
      display: inline-block;
      position: relative;
      @include font-ProximaNova;
      @include fontSize(24px);
      @include lineHeight(22px);
      margin-bottom: 44px;
      &:before {
        content: '';
        position: absolute;
        left: -27px;
        top: 0;
        width: 18px;
        height: 18px;
        background: url("../image/icons/icon-phone.svg") no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }
    }
    .email {
      display: inline-block;
      position: relative;
      @include lineHeight(22px);
      margin-bottom: 43px;
      &:before {
        content: '';
        position: absolute;
        left: -30px;
        top: 6px;
        width: 19px;
        height: 12px;
        background: url("../image/icons/icon-email.svg") no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }
    }
  }
  .footer__we-work {
    text-align: right;
    color: #ffffff;
    @include font-ProximaNova;
    @include fontSize(18px);
    h5 {
      position: relative;
      display: block;
      @include font-ProximaNovaBold;
      @include fontSize(18px);
      color: inherit;
      margin: 0 0 24px;
    }
    .address {
      position: relative;
      display: inline-block;
      &:before {
        content: '';
        position: absolute;
        left: 24px;
        top: 0;
        width: 20px;
        height: 20px;
        background: url("../image/icons/icon-clock.svg") no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }
    }
  }
  .btn-box {
    text-align: right;
    margin-top: 35px;
    .btn-green {
      width: 227px;
      height: 46px;
    }
  }
  hr {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    margin-top: 68px;
  }
  .copyright {
    margin-top: 32px;
    .terms-of-agreement {
      display: block;
      @include font-ProximaNova;
      @include fontSize(12px);
      text-decoration: underline;
      color: #abeda1;
      text-align: left;
      &:hover {
        text-decoration: none;
      }
    }
    &__info {
      display: block;
      @include font-ProximaNova;
      @include fontSize(12px);
      color: #abeda1;
      text-align: right;
    }
  }
  @media (max-width: 767px) {
    background: url("../image/footer_mob_bg.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position-x: center;
    &__menu {
      margin-top: 0;
      &--hr {
        margin-top: 0;
        &:after {
          display: none;
        }
      }
    }
    .footer__about-us {
      text-align: center;
      margin-top: 30px;
      .address {
        margin-bottom: 20px;
        &:before {
          left: 0;
        }
      }
      .phone {
        margin-bottom: 20px;
      }
      .email {
        margin-bottom: 20px;
      }
    }
    .footer__we-work {
      text-align: center;
      margin-top: 20px;
      .address:before {
        left: 0;
      }
    }
    .btn-box {
      text-align: center;
      margin-top: 20px;
    }
    hr {
      margin-top: 30px;
    }
    .copyright {
      &__info {
        text-align: center;
      }
      .terms-of-agreement {
        text-align: center;
        margin-bottom: 10px;
      }
    }
    &__logo a {
      max-width: 145px;
    }
  }
}
label[for="input-sort"], label[for="input-limit"] {
  background: none;
  border-top: none;
  @include font-ProximaNovaBold;
  @include fontSize(18px);
  color: $testColor;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 5px;
  margin-right: 27px;
  vertical-align: top;
}
#input-sort, [data-id="input-sort"] {
  width: 198px;
  height: 28px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  @include font-ProximaNovaLight;
  @include fontSize(18px);
  color: $testColor;
  float: right;
  max-width: 198px;
  &:hover, &:focus {
    border: 1px solid rgba(35, 49, 55, 0.19);
    background: #ffffff none;
  }
}
.input-sort {
  .bs-caret {
    display: block;
    position: absolute;
    top: 2px;
    right: 1px;
    width: 24px;
    height: 24px;
    background-color: $colorGreen;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    i {
      color: #fff;
    }
  }
  button {

  }
}

#input-limit {
  width: 88px;
  height: 28px;
  border: 1px solid rgba(35, 49, 55, 0.19);
  background-color: #ffffff;
  padding: 0 12px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: $testColor;
  @include font-ProximaNovaLight;
  @include fontSize(18px);
  float: right;
}
.mfilter-box {
  background: url("../image/fillter_bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  padding: 20px;
  .mfilter-price {
    margin-bottom: 8px;
  }
  .mfilter-heading {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
    .mfilter-heading-text {
      background: none;
      border-top: none;
      @include font-ProximaNovaBold;
      @include fontSize(18px);
      color: $testColor;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    cursor: inherit;
  }
  .mfilter-price-slider {
    padding: 0 auto 5px!important;
    margin-right: 0!important;
    #mfilter-price-slider .ui-slider-handle {
      margin-left: -18px !important;
    }
  }
  .mfilter-content > ul > li {
    margin-bottom: 10px;
  }
  .mfilter-heading-content {
    padding: 5px 0 5px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .mfilter-opts-container {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .mfilter-content {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #mfilter-opts-price-min, #mfilter-opts-price-max {
    display: inline-block;
    min-width: 71px;
    height: 28px;
    border: 1px solid rgba(35, 49, 55, 0.19);
    background-color: #ffffff;
    @include font-ProximaNovaLight;
    @include fontSize(16px);
    color: #898989;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-top: 15px;
  }
  #mfilter-opts-price-min {
    width: 71px;
    margin-right: 12px;
  }
  #mfilter-opts-price-max {
    width: 92px;
  }
  .mfilter-content {
    .mfilter-option {
      label {
        color: #233137;
        @include font-ProximaNovaLight;
        @include fontSize(18px);
        border: none;
      }
      .mfilter-tb-as-td {
        display: block;
        width: 100%;
      }
    }
  }
  .mfilter-tb-as-td {
    border: 0;
  }
  .mfilter-filter-item {
    .mfilter-options {
      padding: 0;
    }
  }
  .mfilter-price-inputs {
    span {
      @include font-ProximaNova;
      @include fontSize(14px);

    }
  }
  .box-heading {
    margin: 0 0 10px;
  }
}
.mfilter-price-slider {
  padding: 0!important;
  margin: 0!important;
  border: none!important;
  #mfilter-price-slider {
    margin: 7px auto 0 auto !important;
    -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
    background: #fff none !important;
    height: 6px!important;
    border: none !important;
    width: 90%;
    .ui-slider-range {
      height: 6px;
      background: $colorGreen none !important;
      -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
      -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
      box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.18);
    }
    .ui-slider-handle {
      width: 35px!important;
      height: 18px!important;
      top: -6px;
      background: $colorGreen none !important;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      &:after {
        content: '';
        position: absolute;
        width: 16px;
        height: 8px;
        top: 5px;
        left: 10px;
        background-image: url("../image/range_btn.png");
      }
    }
  }
}
/* products card */
.card-info {
  @include fontSize(18px);
  @include lineHeight(32px);
  b {
    display: inline-block;
    width: 160px;
  }
  p {
    margin-bottom: 16px;
  }
  label {
    @include fontSize(18px);
    @include lineHeight(32px);
    margin-bottom: 15px;
  }
  &__attribute {
    margin-bottom: 44px;
    div {
      vertical-align: top;
      display: inline-block;
      line-height: 24px;
    }
  }
  .price {
    span {
      display: inline-block;
    }
  }
  .products__price-new {
    @include fontSize(30px);
    color: $colorGreen;
  }
  .products__price-old {
    @include fontSize(24px);
    margin-right: 30px;
  }
  .soc-icons {
    text-align: left;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(35, 49, 55, 0.19);
    li {
      padding: 0;
      margin: 0;
      a {
        span {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  &__quantity {
    margin-top: 25px;
  }
  .form-group {
    margin-bottom: 2px;
  }
}
.rating {
  display: inline-block;
  position: relative;
  width: 100%;
  .fa-stack {
    font-size: 10px;
    width: 25px;
    height: 22px;
    line-height: 11px;
  }
  .fa-star {
    color: rgba(35, 49, 55, 0.55);
    font-size: 24px;
    &.star-orange {
      color: #fea31f;
    }
  }
  a {
    color: $testColor;
    @include font-ProximaNova;
    @include fontSize(14px);
    @include lineHeight(32px);
    vertical-align: top;
    padding-left: 85px;
    text-decoration: underline;
  }
  p {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 25px;
      height: 1px;
      width: 100%;
      background-color: rgba(35, 49, 55, 0.19);
    }
  }
}
.sku {
  position: relative;
  margin-bottom: 20px;
  p {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 25px;
      height: 1px;
      width: 100%;
      background-color: rgba(35, 49, 55, 0.19);
    }
  }
}
.thumbnails {
  .thumbnail {
    padding: 0;
    border: 1px solid rgba(35, 49, 55, 0.19);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 17px;
    img {
      width: auto;
    }
    &.active, &:focus, &:hover {
      border-color: $colorGreen;
    }
  }
}
.nav-tabs-wrap {
  -webkit-background-size: cover;
  background-size: cover;
  margin: 50px 0;
}
.tab-content {
  border-top: none;
  .tab-pane {
    border: 1px solid #bdc1c3;
    border-top: none;
    padding: 25px;
    background: #fff url("../image/review_bg.jpg");
    background-position-y: -47px;
    &#tab-review {
      position: absolute;
      z-index: 9;
      width: 100%;
    }
  }
}
.nav-tabs {
  padding: 0;
  border-bottom: 1px solid #bdc1c3;
  background-color: #fff;
  li {
    @include font-ProximaNovaLight;
    a {
      text-decoration: underline;
      color: $testColor;
      padding: 0 31px;
      @include lineHeight(45px);
      &:hover {
        -webkit-border-top-left-radius: 20px;
        -moz-border-top-left-radius: 20px;
        border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-top-right-radius: 20px;
        border-top-right-radius: 20px;
      }
    }
    &.active {
      color: $testColor;
      @include font-ProximaNovaBold;
      @include fontSize(18px);
      a {
        border: 1px solid #bdc1c3;
        border-bottom-color: transparent;
        text-decoration: none;
        color: $testColor;
        -webkit-border-top-left-radius: 20px;
        -moz-border-top-left-radius: 20px;
        border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-top-right-radius: 20px;
        border-top-right-radius: 20px;
        &[href="#tab-review"] {
          background-image: url("../image/review_tab_bg.jpg");
          background-position-y: 0;
          background-position-x: -138px;
        }
        &[href="#tab-description"] {
          background-image: url("../image/review_tab_bg.jpg");
          background-position-y: 0;
          background-position-x: 0px;
        }
        &:hover {
          border: 1px solid #bdc1c3;
          border-bottom-color: transparent;
          text-decoration: none;
          color: $testColor;
          -webkit-border-top-left-radius: 20px;
          -moz-border-top-left-radius: 20px;
          border-top-left-radius: 20px;
          -webkit-border-top-right-radius: 20px;
          -moz-border-top-right-radius: 20px;
          border-top-right-radius: 20px;
        }
      }
    }
  }
}

#review {
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0;
    border: 0;
  }
}
.review {
  &__date {
    color: #898989;
    @include font-ProximaNova;
    @include fontSize(14px);
    @include lineHeight(24px);
  }
  &__text {
    color: $testColor;
    @include font-ProximaNovaLight;
    @include fontSize(14px);
    @include lineHeight(20px);
    background: #ececec;
    padding: 19px 20px;
    margin-bottom: 0;
  }
  strong {
    color: $testColor;
    @include font-ProximaNova;
    @include fontSize(18px);
    @include lineHeight(24px);
    margin-right: 20px;
  }
  .rating {
    float: right;
    .fa-stack {
      font-size: 10px;
      width: 26px;
    }
    .fa-star {
      font-size: 24px;
    }
  }
}
.review-guest {
  border: 1px solid #a1a1a1;
  padding: 21px 29px 28px 40px;
  background: #ececec;
  .control-label {
    display: inline-block;
    color: #898989;
    @include font-ProximaNovaLight;
    @include fontSize(16px);
    width: 110px;
    text-align: left;
  }
  #input-name {
    max-width: 352px;
    height: 35px;
    border: 1px solid rgba(35, 49, 55, 0.19);
    background-color: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  textarea {
    border: 1px solid rgba(35, 49, 55, 0.19);
    background-color: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 90px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .form-group {
    margin-bottom: 5px;
  }
}
.faq-section {
  background: url("../image/main-bg.png");
  margin-bottom: 95px;
}
.faq-item {
  position: relative;
  padding: 0 40px 27px;
  margin-bottom: 30px;
  border: 1px solid rgba(35, 49, 55, 0.19);
  &:after {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 33px;
    width: 100%;
    bottom: -34px;
    left: 0;
  }
}
.faq-question {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 49px;
    height: 49px;
    top: -8px;
    left: -29px;
    background: url("../image/icons/smile-1.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &__title {
    @include font-ProximaNovaBold;
    @include fontSize(18px);
    @include lineHeight(36px);
    color: $testColor;
    padding-left: 40px;
  }
}
.faq-answer {
  padding: 23px 40px;
  background: #ececec;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 53px;
    height: 45px;
    top: 23px;
    left: -29px;
    background: url("../image/icons/smile-2.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &__text {
    @include font-ProximaNovaLight;
    @include fontSize(18px);
    @include lineHeight(21px);
    color: $testColor;
    display: block;
    white-space: normal;
  }
}
.contacts-us {
  .title-primary {
    margin-bottom: 8px;
  }
  &__info {
    @include font-ProximaNova;
    @include fontSize(20px);
    @include lineHeight(23px);
    color: $testColor;
    margin-bottom: 40px;
    a {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
      &[href^="mailto"] {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    p {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
    }
    .col-sm-3 {
      padding-left: 60px;
    }
    h3 {
      @include font-ProximaNovaBold;
      @include fontSize(24px);
      @include lineHeight(36px);
      color: $testColor;
      margin-bottom: 10px;
    }
  }
  &-phone {
    display: inline-block;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -45px;
      top: 2px;
      width: 32px;
      height: 32px;
      background: $colorGreen url("../image/icons/icon-phone.svg") no-repeat center;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      -webkit-background-size: auto;
      background-size: auto;
    }
  }
  &-address {
    display: inline-block;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -45px;
      top: 2px;
      width: 32px;
      height: 32px;
      background: $colorGreen url("../image/icons/icon-marker.svg") no-repeat center;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      -webkit-background-size: auto;
      background-size: auto;
    }
  }
  &-time {
    display: inline-block;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -45px;
      top: 2px;
      width: 32px;
      height: 32px;
      background: $colorGreen url("../image/icons/icon-clock.svg") no-repeat center;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      -webkit-background-size: auto;
      background-size: auto;
    }
  }
  &-email {
    display: inline-block;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -45px;
      top: 2px;
      width: 32px;
      height: 32px;
      background: $colorGreen url("../image/icons/icon-email.svg") no-repeat center;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      -webkit-background-size: auto;
      background-size: auto;
    }
  }
  .map {
    height: 370px;
    margin-bottom: 84px;
    #map {
      height: 100%;
    }
  }
  &__feedback {
    max-width: 750px;
    margin: 0 auto 95px;
    position: relative;
    background-color: #e8e6e9;
    padding: 10px;
    z-index: 3;
    &:before {
      content: '';
      position: absolute;
      top: 24px;
      left: -202px;
      width: 679px;
      height: 331px;
      background: url("../image/contacts-us__feedback.png") no-repeat;
      z-index: -2;
    }
    &-block {
      border: 1px solid rgba(35, 49, 55, 0.19);
      padding: 14px 65px 40px;
      z-index: 10;
    }
    form {
      z-index: 10;
    }
    .form-group {
      margin-bottom: 23px;
    }
    textarea {
      max-height: 115px;
      resize: none;
      @include fontSize(16px);
    }
    h4 {
      display: block;
      @include fontSize(24px);
      @include lineHeight(36px);
      margin-bottom: 13px;
      text-align: center;
      z-index: 10;
    }
  }
  .btn-green {
    max-width: 285px;
    margin: auto;
    z-index: 10;
  }
}
.modal {
  .modal-dialog {
    -webkit-background-size: cover;
    background-size: cover;
    max-width: 360px;
    margin: 0 auto;
    padding: 10px;
    -webkit-box-shadow: 0 11px 16px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0 11px 16px rgba(0, 0, 0, 0.51);
    box-shadow: 0 11px 16px rgba(0, 0, 0, 0.51);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: url("../image/modal_bg.jpg") no-repeat;
  }
  .modal-header {
    text-align: center;
  }
  .modal-content {
    padding: 15px 20px 138px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: none;
    .form-group {
      margin: 0;
    }
    input {
      height: 35px;
      padding: 0 15px;
      margin-bottom: 6px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      @include fontSize(16px);
      line-height: 36px;
      color: #898989;
      background: #fff;
      border: 1px solid rgba(35, 49, 55, 0.19);
      &[type="text"].form-control {
        @include fontSize(16px);
      }
    }
  }
  .modal-footer {
    padding: 0;
  }
  p {
    @include font-ProximaNova;
    @include fontSize(18px);
    @include lineHeight(22px);
    color: $testColor;
    margin-bottom: 5px;
  }
  span {
    display: block;
    @include font-ProximaNova;
    @include fontSize(18px);
    @include lineHeight(22px);
    letter-spacing: 0.01rem;
    color: #c22142;
    margin-bottom: 11px;
  }
  .form-text {
    @include font-ProximaNova;
    @include fontSize(12px);
    @include lineHeight(14px);
    color: #636363;
    margin: 0;
  }
  @media screen and (max-width: 991px) {
    margin-bottom: 30px;
  }
}
.search-page {
  padding-bottom: 40px;
  .category_id {
    button {
      height: 35px;
      line-height: 34px;
      .bs-caret {
        height: 31px;
      }
    }
  }
  .btn-green {
    height: 40px;
    span {
      line-height: 26px;
      padding: 0 15px;
    }
  }
  .btn-sort {
    margin-right: 10px;
  }
  .input-limit.bootstrap-select {
    margin: 0;
  }
}
